<div class="container">

    <div class="col-xs-6  no-padding">
        <button class="btn-link no-padding" routerLink="/gdpr-wizard/data-analysis/step-3">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="step-title">
            <h2>{{ 'DataProcessing.MainTitle' | translate }}</h2>
            <p>{{ 'DataProcessing.MainDescription' | translate }}</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="mt50">
        <h3>
            <strong>{{ 'DataProcessing.ItSystemTitle' | translate }}</strong>
            <span class="help-group__icon">
                <i class="material-icons">help_outline</i>
                <span class="help-group__help-text">{{ 'DataProcessing.ItSystemTitleTooltip' | translate}}</span>
            </span>
        </h3>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel-group pmd-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" *ngFor="let item of listItSystem" (click)="click(item)" [ngClass]="{'marked': item.marked}">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title" [@tableColumnHighlightTransition]="item.validateState">
                                <a data-toggle="collapse" data-parent="#accordion2" aria-expanded="true" aria-controls="collapseOne2" data-expandable="true">
                                    {{item.tagName}}
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="!item.marked">keyboard_arrow_right</i>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="item.marked">mode_edit</i>
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt30">
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-info" (click)="save(false)">{{'General.Save' | translate}}</button>
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="button" (click)="save(true)">{{'General.SaveContinue' | translate}}</button>
    </div>
</div>
<router-outlet></router-outlet>