<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>{{ 'Dataprocess.Title' | translate }}</h1>
            <p>{{ 'Dataprocess.Description' | translate }}</p>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-xs-6">
            <h3>{{ 'Dataprocess.ControllerTitle' | translate }}</h3>
            <div *ngFor="let item of listDataprocessor | filterBy: { documentType: 'Controller' }">
                <div class="panel-group pmd-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title white-background">
                                <div class="panel-title__innner">
                                    <span>{{item.documentName}}</span>
                                    <div class="processor-more pmd-accordion-arrow" *ngIf="!item.idCopiedFrom">
                                        <div [matMenuTriggerFor]="menu">
                                            <i class="material-icons md-dark pmd-sm ">more_vert</i>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="makeCopy(item)">
                                                <span>{{ 'General.MakeCopy' | translate }}</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="item.isLocked">lock_outline</i>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="!item.isLocked">lock_open</i>
                                    <button class="btn btn-link pmd-accordion-arrow" (click)="viewDetail(item.documentId)">{{'General.View' | translate}}</button>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>
                <div *ngFor="let subItem of item.copies" class="panel-group pmd-accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default sub-item">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title white-background">
                                    <div class="panel-title__innner">
                                        <span>{{subItem.documentName}}</span>
                                        <div class="processor-more pmd-accordion-arrow" *ngIf="subItem.idCopiedFrom">
                                            <div [matMenuTriggerFor]="menu">
                                                <i class="material-icons md-dark pmd-sm ">more_vert</i>
                                            </div>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="delete(item, subItem)">
                                                    <span>{{ 'General.Delete' | translate }}</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                        <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="subItem.isLocked">lock_outline</i>
                                        <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="!subItem.isLocked">lock_open</i>
                                        <button class="btn btn-link pmd-accordion-arrow" (click)="viewDetail(subItem.documentId)">{{'General.View' | translate}}</button>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h3>{{ 'Dataprocess.ProcessorTitle' | translate }}</h3>
            <div *ngFor="let item of listDataprocessor | filterBy: { documentType: 'Processor' }">
                <div class="panel-group pmd-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title white-background">
                                <div class="panel-title__innner">
                                    <span>{{item.documentName}}</span>
                                    <div class="processor-more pmd-accordion-arrow" *ngIf="!item.idCopiedFrom">
                                        <div [matMenuTriggerFor]="menu">
                                            <i class="material-icons md-dark pmd-sm ">more_vert</i>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="makeCopy(item)">
                                                <span>{{ 'General.MakeCopy' | translate }}</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="item.isLocked">lock_outline</i>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="!item.isLocked">lock_open</i>
                                    <button class="btn btn-link pmd-accordion-arrow" (click)="viewDetail(item.documentId)">{{'General.View' | translate}}</button>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>

                <div *ngFor="let subItem of item.copies" class="panel-group pmd-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default sub-item">
                        <div class="panel-heading" role="tab">
                            <h4 class="panel-title white-background">
                                <div class="panel-title__innner">
                                    <span>{{subItem.documentName}}</span>
                                    <div class="processor-more pmd-accordion-arrow" *ngIf="subItem.idCopiedFrom">
                                        <div [matMenuTriggerFor]="menu">
                                            <i class="material-icons md-dark pmd-sm ">more_vert</i>
                                        </div>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)="delete(item, subItem)">
                                                <span>{{ 'General.Delete' | translate }}</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="subItem.isLocked">lock_outline</i>
                                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow" *ngIf="!subItem.isLocked">lock_open</i>
                                    <button class="btn btn-link pmd-accordion-arrow" (click)="viewDetail(subItem.documentId)">{{'General.View' | translate}}</button>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="mt30">&nbsp;</div>