<modal-dialog [(modalDialog)]="warningDialog">
    <p *ngIf="isOpenMaxStorageQuotaWarning">{{'General.MaxStorageQuotaReached' | translate}}</p>
    <p *ngIf="!isOpenMaxStorageQuotaWarning">{{'General.CantDownloadPDFWarning' | translate}}</p>
    <div class="pmd-modal-bordered text-right">
        <button class="btn pmd-ripple-effect btn-primary" type="button" (click)="goToSubscription()">{{'General.OK' | translate}}</button>
    </div>
</modal-dialog>
<div class="container" *ngIf="readyToLoad">
    <button class="btn-link no-padding" routerLink="/gdpr/management/dataprocessor">
        <i class="material-icons">arrow_back</i>
    </button>
    <modal-dialog [(modalDialog)]="deleteConfirm">
        <div class="form-group">
            {{ 'Dataprocess.ConfirmDelete' | translate }}
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-danger" (click)="delete()">{{ 'General.DeleteBtn' | translate }}</button>
            <button type="submit" class="btn btn-default" (click)="closeDelete()">{{ 'General.CancelBtn' | translate }}</button>
        </div>
    </modal-dialog>
    <h1>{{ 'Dataprocess.ManageTitle' | translate }}</h1>
    <div class="row row-eq-height">
        <div class="col-xs-4">
            <div class="panel manage-panel">
                <div class="panel-body">
                    {{ 'Dataprocess.CounterParty' | translate }}:
                    <strong>{{dataprocessorDetail.counterpartName}}</strong>
                    <i class="material-icons fs-16 text-success" *ngIf="counterpartStatus">check_circle</i>
                    <i class="material-icons fs-16 text-danger" *ngIf="!counterpartStatus">info</i>
                    <a (click)="counterpartClick()">{{ 'Dataprocess.EditLink' | translate }}</a>
                    <br> {{ 'Dataprocess.DataprocessorType' | translate }}:
                    <strong>{{dataprocessorDetail.dataProcessorType}}</strong>
                    <br> {{ 'General.Version' | translate }}:
                    <strong>{{dataprocessorDetail.version}}</strong>
                    <br> {{ 'General.Last-Revised' | translate }}:
                    <strong>{{dataprocessorDetail.lastUpdated | dateformatpipe:true}}</strong>
                    <br> {{ 'General.Responsible' | translate }}:
                    <strong>{{dataprocessorDetail.responsible}}</strong>
                    <br>
                    <div class="lock mt10">
                        <i class="material-icons" (click)="clickLock()" *ngIf="dataprocessorDetail.isLocked">lock</i>
                        <i class="material-icons" (click)="clickLock()" *ngIf="!dataprocessorDetail.isLocked">lock_open</i>
                        <span>{{ 'General.LockNote' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel manage-panel">
                <div class="panel-body">
                    <strong>{{ 'General.UploadBoxTitle' | translate }}</strong>
                    <form method="post" enctype="multipart/form-data" *ngIf="!isUploaded">
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group pmd-textfield">
                                    <label for="Upload" class="control-label">
                                        {{ 'General.ClickToUpload' | translate }}
                                    </label>
                                    <input type="file" accept="image/png,image/bmp,image/gif,image/jpeg,text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/zip,text/*"
                                        class="btn btn-sm btn-default" ng2FileSelect [uploader]="uploader" class="form-control">
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-sm btn-primary mt20" type="button" (click)="uploader.uploadAll()">
                                    <i class="material-icons pmd-xs upload-button">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="list-group" *ngIf="isUploaded">
                        <li class="list-group-item">
                            <div class="media-left">
                                <i class="material-icons pmd-xs">attach_file</i>
                            </div>
                            <div class="media-body media-middle">
                                {{fileName}}
                            </div>
                            <i class="material-icons md-dark media-middle download" (click)="download()" title="{{'General.Download' | translate}}">cloud_download</i>
                            <i class="material-icons md-dark media-middle delete" (click)="confirmDelete()" title="{{'General.Delete' | translate}}">delete</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel manage-panel">
                <div class="panel-body">
                    <strong>{{ 'General.History' | translate }}</strong>
                    <div *ngIf="!dataProcessorhistory || dataProcessorhistory.length == 0" [innerHtml]="('General.NoHistory' | translate)"></div>
                    <div class="mt10 scroll-history" *ngIf="dataProcessorhistory && dataProcessorhistory.length > 0">
                        <div *ngFor="let item of dataProcessorhistory" class="history-item">
                            <div class="media-left">
                                <span class="btn-avatar">
                                    <div class="user_logo">{{item.oldValue != 'External' ? item.avatarName : dataprocessorDetail.counterpartFirstName?.charAt(0)
                                        + dataprocessorDetail.counterpartLastName?.charAt(0)}}</div>
                                </span>
                            </div>
                            <div class="media-body media-middle">
                                <h3 class="pmd-card-title-text">{{ item.oldValue != 'External' ? item.owner : (dataprocessorDetail.counterpartFirstName ?
                                    dataprocessorDetail.counterpartFirstName : dataprocessorDetail.counterpartEmail) }}</h3>
                                <span class="pmd-card-subtitle-text" [innerHtml]="
                                item.fileChanged ?('General.HistoryFileUpdated' | translate: {owner: item.owner, fieldName: (item.fieldName | translate), newValue: item.newValue})
                                :(
                                    item.oldValue && item.oldValue != 'External' ? 
                                    ('Policy.HistoryUpdated' | translate: {owner: item.owner, fieldName: (item.fieldName | translate), oldValue: item.oldValue, newValue: item.newValue}) :
                                        (item.newValue == 'Sent' ? ('Dataprocess.SendDataProcessor' | translate: {owner: item.owner}) :
                                            (item.newValue == 'Download' ? ('Dataprocess.CounterpartDownloadDataProcessor' | translate: {counterpart: (dataprocessorDetail.counterpartFirstName ? dataprocessorDetail.counterpartFirstName : dataprocessorDetail.counterpartEmail)}) :
                                                ('Policy.HistoryAddNew' | translate: {owner: item.owner, newValue:item.newValue,fieldName: (item.fieldName | translate)}))))">
                                </span>
                            </div>
                            <div class="media-right">
                                {{item.date | dateformatpipe:true}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mt20">
        <div class="pmd-switch">
            <label>
                <input [(ngModel)]="useExisting" type="checkbox" (change)="useExistingChange()" [disabled]="dataprocessorDetail.isLocked">
                <span class="pmd-switch-label"></span>
            </label>
            <span class="pmd-switch__text">{{ 'Dataprocess.UseAnExistingAgreement' | translate }}</span>
        </div>
    </div>
    <div class="panel" *ngIf="!dataprocessorDetail.useExisting">
        <div class="panel-body">
            <div class="lock-area">
                <div class="lock-area__backdrop" *ngIf="dataprocessorDetail.isLocked"></div>
                <!-- <div *dynamicComponent="templateHTML"></div> -->
                <ng-template dynamic-template [template]="templateHTML" [extraModules]="ExtraModule"></ng-template>
            </div>
        </div>
    </div>
    <div class="mt20">
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" (click)="save()">{{'General.Save' | translate}}</button>
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-default" routerLink="/gdpr/management/dataprocessor">{{'General.Cancel' | translate}}</button>
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-default" *ngIf="!dataprocessorDetail.useExisting" [disabled]="!isHasContent" (click)="downloadPDF()">{{'General.DownloadAsPdf' | translate}}</button>
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary pull-right" *ngIf="!dataprocessorDetail.useExisting" (click)="sendToCounterpart()">{{'Dataprocess.SendToCounterpart' | translate}}</button>          
    </div>
     <div class="mt10" *ngIf="!dataprocessorDetail.useExisting">
        <p class="pull-right" *ngIf="!dataprocessorDetail.lastSentToCounterpart">The agreement has not been sent yet.</p>
        <p class="pull-right" *ngIf="dataprocessorDetail.lastSentToCounterpart">The agreement was last sent on {{dataprocessorDetail.lastSentToCounterpart | dateformatpipe:true}}.</p>        
    </div> 
    <div class="mt50">&nbsp;</div>
</div>
<router-outlet></router-outlet>