<div class="container">
    <h1>{{ 'Dashboard.Title' | translate }}</h1>
    <p>{{ 'Dashboard.Decription' | translate }}</p>
    <div class="row">
        <div class="col-xs-3" *ngFor="let item of overViewData | filterBy: {show:true}">
            <div class="dashboard-item" [routerLink]="item.url">
                <div class="dashboard-item__inner">
                    <div class="dashboard-item__icon">
                        <i class="material-icons">{{item.icon}}</i>
                    </div>
                    <div class="dashboard-item__title">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt50"></div>
</div>