.list-todos-table td {
    vertical-align: middle;
}
.list-todos-table .material-icons {vertical-align: middle;}
.info-table td {
    padding-bottom: 10px;
}

label[for="file-input"] {
    display: block;
    margin-bottom: 1em;
    font-size: 1em;
    color: #fff;
    opacity: .9;
    font-weight: bold;
  }
  
  input[type="file"] {
    cursor: pointer !important;
    font-size: small !important;
  }

  input[type="file"]::-webkit-file-upload-button {
    background: #8cb63c;
    border: 0;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
    font-size: small !important;
  }
  input[type="file"]::-ms-browse {
    background:#8cb63c;
    border: 0;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
    font-size: small !important;
  }
  
.material-icons.download{
    padding: 0 5px;
    color: #8cb63c;
    cursor: pointer;
}

.material-icons.delete{
    padding: 0 5px;
    cursor: pointer;    
}

.form-group.pmd-textfield.upload {
    margin-bottom: 0px !important;
}

.wrap-text {
    width: 200px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}

.pmd-checkbox.reject [type="checkbox"] + .pmd-checkbox-label::before {
    color: #951425;
    border-color: #951425;
}