<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>{{ 'Dataprocessor.Title' | translate }}</h1>
            <p>{{ 'Dataprocessor.Desc' | translate }}</p>
            <div class="panel manage-panel">
                <div class="panel-body">
                    {{ 'Dataprocessor.CounterParty' | translate }}: <strong>counterpartName</strong><br>
                    {{ 'Dataprocessor.DataprocessorType' | translate }}: <strong>dataProcessorType</strong><br>
                    {{ 'Dataprocessor.Version' | translate }}: <strong>ersion</strong><br>
                    {{ 'Dataprocessor.Last-Revised' | translate }}: <strong>lastUpdated</strong><br>
                    {{ 'Dataprocessor.Responsible' | translate }}: <strong>responsible</strong><br>
                </div>
            </div>
            <div class="mt20">
                <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary">{{'Dataprocessor.DownloadAsPdf' | translate}}</button>
                <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-default">{{'Dataprocessor.Sign' | translate}}</button>
            </div>
        </div>
    </div>
</div>