<div class="container" *ngIf="ready">
    <!-- <button class="btn-link no-padding pull-right" routerLink="/gdpr-wizard/data-analysis/step-1">
        <i class="material-icons">arrow_forward</i>
    </button> -->
    <button class="btn-link no-padding" routerLink="/gdpr-wizard/getstarted">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class="row">
        <div class="col-xs-8">
            <h1>{{'FirstStep.StepTitle' | translate}}</h1>
            <p>{{'FirstStep.Subtitle' | translate}}</p>
        </div>
    </div>
    <form [formGroup]="gdprFirstStepForm" (ngSubmit)="onSubmit(gdprFirstStepForm.value)">
        <div class="panel panel-default mt20">
            <div class="panel-body ph50">
                <h3>{{'FirstStep.CompanyInfo' | translate}}</h3>
                <div class="row">
                    <div class="col-xs-4 col-xs-push-2">
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'FirstStep.CompanyNameTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': gdprFirstStepForm.controls['companyName'].value,
                                                'has-error': gdprFirstStepForm.controls['companyName'].invalid && gdprFirstStepForm.controls['companyName'].touched
                                            }">
                                            <label for="companyName" class="control-label">
                                                {{'FirstStep.CompanyName' | translate}}*
                                            </label>
                                            <input tabindex="1" maxlength="256" type="text" id="companyName" class="form-control" [formControl]="gdprFirstStepForm.controls['companyName']">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div formGroupName="companyDetailViewModel">
                                <div class="col-xs-6">
                                    <div class="help-form-group">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.CompanyRegistrationTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['registration'].value,
                                                    'has-error': companyDetailCtrl.controls['registration'].invalid && companyDetailCtrl.controls['registration'].touched
                                                }">
                                                <label for="companyRegistration" class="control-label">
                                                    {{'FirstStep.CompanyRegistration' | translate}}*
                                                </label>
                                                <input tabindex="2" maxlength="128" type="text" id="companyRegistration" class="form-control" formControlName="registration">
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="help-form-group help-form-group__left">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.IndustryTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['industry'].value,
                                                    'has-error': companyDetailCtrl.controls['industry'].invalid && companyDetailCtrl.controls['industry'].touched
                                                }">
                                                <label for="industry" class="control-label">
                                                    {{'FirstStep.Industry' | translate}}*
                                                </label>
                                                <ng-select tabindex="7" formControlName="industry" [options]="defineIndustry" noFilter="10">
                                                </ng-select>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-6">
                                    <div class="help-form-group">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.NumberOfEmployeesTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['numOfEployees'].value,
                                                    'has-error': companyDetailCtrl.controls['numOfEployees'].invalid && companyDetailCtrl.controls['numOfEployees'].touched
                                                }">
                                                <label for="numberOfEmployees" class="control-label">
                                                    {{'FirstStep.NumberOfEmployees' | translate}}*
                                                </label>
                                                <ng-select tabindex="3" id="numberOfEmployees" formControlName="numOfEployees" [options]="defineNumOfEployees" noFilter="10">
                                                </ng-select>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="help-form-group help-form-group__left">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.LastYearTurnoverTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['turnOver'].value || companyDetailCtrl.controls['turnOver'].value == 0,
                                                'has-error': companyDetailCtrl.controls['turnOver'].invalid && companyDetailCtrl.controls['turnOver'].touched
                                            }">
                                                <label for="lastYearTurnover" class="control-label">
                                                    {{'FirstStep.LastYearTurnover' | translate}}
                                                </label>
                                                <input tabindex="8" type="text" [textMask]="{mask: numberMask, guide: false, modelClean: true}" id="lastYearTurnover" class="form-control"
                                                    formControlName="turnOver" numeric>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-6">
                                    <div class="help-form-group">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.LastYearResultTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['lastResult'].value || companyDetailCtrl.controls['lastResult'].value == 0}">
                                                <label for="lastYearResult" class="control-label">
                                                    {{'FirstStep.LastYearResult' | translate}}
                                                </label>
                                                <input tabindex="4" type="text" [textMask]="{mask: numberMask}" id="lastYearResult" class="form-control" formControlName="lastResult"
                                                    numeric>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="help-form-group help-form-group__left">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.CurrencyTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['currency'].value,
                                                    'has-error': companyDetailCtrl.controls['currency'].invalid && companyDetailCtrl.controls['currency'].touched
                                                }">
                                                <label for="lastYearTurnover" class="control-label">
                                                    {{'FirstStep.Currency' | translate}}*
                                                </label>
                                                <ng-select tabindex="9" formControlName="currency" [options]="defineCurrency" noFilter="10">
                                                </ng-select>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-6">
                                    <div class="help-form-group">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.CompanyAddressTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['companyAddress'].value,
                                                    'has-error': companyDetailCtrl.controls['companyAddress'].invalid && companyDetailCtrl.controls['companyAddress'].touched
                                                }">
                                                <label for="lastYearResult" class="control-label">
                                                    {{'FirstStep.CompanyAddress' | translate}}*
                                                </label>
                                                <input tabindex="5" maxlength="128" type="text" id="lastYearResult" class="form-control" formControlName="companyAddress">
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="help-form-group help-form-group__left">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.ZipcodeTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['zipCode'].value,
                                                    'has-error': companyDetailCtrl.controls['zipCode'].invalid && companyDetailCtrl.controls['zipCode'].touched
                                                }">
                                                <label for="lastYearResult" class="control-label">
                                                    {{'FirstStep.Zipcode' | translate}}*
                                                </label>
                                                <input tabindex="10" maxlength="20" type="text" id="lastYearResult" class="form-control" formControlName="zipCode">
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-6">
                                    <div class="help-form-group">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.CityTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                    'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['city'].value,
                                                    'has-error': companyDetailCtrl.controls['city'].invalid && companyDetailCtrl.controls['city'].touched
                                                }">
                                                <label for="lastYearResult" class="control-label">
                                                    {{'FirstStep.City' | translate}}*
                                                </label>
                                                <input tabindex="6" maxlength="128" type="text" id="lastYearResult" class="form-control" formControlName="city">
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="help-form-group help-form-group__left">
                                        <div class="help-form-group__icon">
                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                            <div class="help-form-group__help-text">
                                                {{'FirstStep.CountryTooltip' | translate}}
                                            </div>
                                        </div>
                                        <div class="help-form-group__form">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                                                    pmd-textfield-floating-label-completed': companyDetailCtrl.controls['country'].value,
                                                    'has-error': companyDetailCtrl.controls['country'].invalid && companyDetailCtrl.controls['country'].touched
                                                }">
                                                <label for="lastYearResult" class="control-label">
                                                    {{'FirstStep.Country' | translate}}*
                                                </label>
                                                <ng-select tabindex="11" formControlName="country" [options]="defineCountry" noFilter="10">
                                                </ng-select>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-control">
                            <div class="form-group">
                                <div class="pmd-switch" tabindex="12">
                                    <label>
                                        <input id="hasSubCompany" type="checkbox" [formControl]="gdprFirstStepForm.controls['isHasSub']" (change)="hasSubCompanyChange()">
                                        <span class="pmd-switch-label"></span>
                                    </label>
                                    <span class="pmd-switch__text">{{'FirstStep.Subsidaries' | translate}}</span>
                                </div>
                            </div>
                            <div class="pl30" *ngIf="gdprFirstStepForm.controls['isHasSub'].value">
                                <div formArrayName="subsidiariesViewModel">
                                    <div *ngFor="let subItem of subCompanyCtrl.controls; let i = index">
                                        <div *ngIf="i != 0" class="row">
                                            <div class="col-xs-11">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div [formGroupName]="i">
                                                <div class="col-xs-6">
                                                    <div class="help-form-group">
                                                        <div class="help-form-group__icon">
                                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                                            <div class="help-form-group__help-text">
                                                                {{'FirstStep.Subsidaries' | translate}}
                                                            </div>
                                                        </div>
                                                        <div class="help-form-group__form">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls.name.value}">
                                                                <label for="subCompanyName" class="control-label">
                                                                    {{'FirstStep.CompanyName' | translate}}
                                                                </label>
                                                                <input maxlength="256" type="text" class="form-control" name="subCompanyName" formControlName="name">
                                                                <span class="pmd-textfield-focused"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="help-form-group help-form-group__left">
                                                        <div class="help-form-group__icon">
                                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                                            <div class="help-form-group__help-text">
                                                                {{'FirstStep.CompanyRegistrationTooltip' | translate}}*
                                                            </div>
                                                        </div>
                                                        <div class="help-form-group__form">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                                    'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['registration'].value,
                                                                    'has-error': subCompanyCtrl.controls[i].controls['registration'].invalid && subCompanyCtrl.controls[i].controls['registration'].touched
                                                                }">
                                                                <label for="subCompanyRegistration" class="control-label">
                                                                    {{'FirstStep.CompanyRegistration' | translate}}*
                                                                </label>
                                                                <input maxlength="256" type="text" class="form-control" name="subCompanyRegistration" formControlName="registration">
                                                                <span class="pmd-textfield-focused"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-xs-6">
                                                    <div class="help-form-group">
                                                        <div class="help-form-group__icon">
                                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                                            <div class="help-form-group__help-text">
                                                                {{'FirstStep.CompanyAddressTooltip' | translate}}
                                                            </div>
                                                        </div>
                                                        <div class="help-form-group__form">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                                    'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['companyAddress'].value,
                                                                    'has-error': subCompanyCtrl.controls[i].controls['companyAddress'].invalid && subCompanyCtrl.controls[i].controls['companyAddress'].touched
                                                                }">
                                                                <label for="subCompanyAddress" class="control-label">
                                                                    {{'FirstStep.CompanyAddress' | translate}}*
                                                                </label>
                                                                <input maxlength="128" type="text" id="subCompanyAddress" class="form-control" formControlName="companyAddress">
                                                                <span class="pmd-textfield-focused"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="help-form-group help-form-group__left">
                                                        <div class="help-form-group__icon">
                                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                                            <div class="help-form-group__help-text">
                                                                {{'FirstStep.ZipcodeTooltip' | translate}}
                                                            </div>
                                                        </div>
                                                        <div class="help-form-group__form">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                                    'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['zipCode'].value,
                                                                    'has-error': subCompanyCtrl.controls[i].controls['zipCode'].invalid && subCompanyCtrl.controls[i].controls['zipCode'].touched
                                                                }">
                                                                <label for="subZipCode" class="control-label">
                                                                    {{'FirstStep.Zipcode' | translate}}*
                                                                </label>
                                                                <input maxlength="20" type="text" id="subZipCode" class="form-control" formControlName="zipCode">
                                                                <span class="pmd-textfield-focused"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-xs-6">
                                                    <div class="help-form-group">
                                                        <div class="help-form-group__icon">
                                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                                            <div class="help-form-group__help-text">
                                                                {{'FirstStep.CityTooltip' | translate}}
                                                            </div>
                                                        </div>
                                                        <div class="help-form-group__form">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                                    'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['city'].value,
                                                                    'has-error': subCompanyCtrl.controls[i].controls['city'].invalid && subCompanyCtrl.controls[i].controls['city'].touched
                                                                }">
                                                                <label class="control-label">
                                                                    {{'FirstStep.City' | translate}}*
                                                                </label>
                                                                <input maxlength="128" type="text" class="form-control" formControlName="city">
                                                                <span class="pmd-textfield-focused"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="help-form-group help-form-group__left">
                                                        <div class="help-form-group__icon">
                                                            <i class="material-icons pmd-tooltip">help_outline</i>
                                                            <div class="help-form-group__help-text">
                                                                {{'FirstStep.CountryTooltip' | translate}}
                                                            </div>
                                                        </div>
                                                        <div class="help-form-group__form">
                                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                                    'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['country'].value,
                                                                    'has-error': subCompanyCtrl.controls[i].controls['country'].invalid && subCompanyCtrl.controls[i].controls['country'].touched
                                                                }">
                                                                <label class="control-label">
                                                                    {{'FirstStep.Country' | translate}}*
                                                                </label>
                                                                <ng-select formControlName="country" [options]="defineCountry" noFilter="10">
                                                                </ng-select>
                                                                <span class="pmd-textfield-focused"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12" *ngIf="i != 0">
                                                    <button class="btn pmd-btn-flat pmd-ripple-effect btn-danger" type="button" (click)="removeSubCompany(i)">
                                                        Remove subsidaries
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="pull-right">
                                                {{'FirstStep.AddMoreSubsidaries' | translate}}
                                                <button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" type="button" [disabled]="subCompanyCtrl.invalid"
                                                    (click)="addSubCompany({})">
                                                    <i class="material-icons pmd-sm">add</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body ph50">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{'FirstStep.OverallResponsible' | translate}}</h3>
                        <div class="group-control">
                            <div class="form-group">
                                <div class="pmd-switch">
                                    <label>
                                        <input type="checkbox" [formControl]="gdprFirstStepForm.controls['isSelfOverallResponsible']" (change)="isSelfOverallResponsibleChange()">
                                        <span class="pmd-switch-label"></span>
                                    </label>
                                    <span class="pmd-switch__text">{{'FirstStep.IAmOverallResponsible' | translate}}</span>
                                </div>
                            </div>
                            <div class="pl30" *ngIf="!gdprFirstStepForm.controls['isSelfOverallResponsible'].value">
                                <div class="row" formGroupName="overallResponsible">
                                    <div class="col-xs-6">
                                        <div class="help-form-group">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.TitleTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['title'].value,
                                                        'has-error': overallResponsibleCtrl.controls['title'].invalid && overallResponsibleCtrl.controls['title'].touched
                                                    }">
                                                    <label for="ORTitle" class="control-label">
                                                        {{'FirstStep.Title' | translate}}*
                                                    </label>
                                                    <input maxlength="50" type="text" id="ORTitle" class="form-control" formControlName="title">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.FirstNameTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['firstName'].value,
                                                        'has-error': overallResponsibleCtrl.controls['firstName'].invalid && overallResponsibleCtrl.controls['firstName'].touched
                                                    }">
                                                    <label for="ORFirstName" class="control-label">
                                                        {{'FirstStep.FirstName' | translate}}*
                                                    </label>
                                                    <input maxlength="128" type="text" id="ORFirstName" class="form-control" formControlName="firstName">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group help-form-group__left">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.LastNameTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['lastName'].value,
                                                        'has-error': overallResponsibleCtrl.controls['lastName'].invalid && overallResponsibleCtrl.controls['lastName'].touched
                                                    }">
                                                    <label for="ORlastName" class="control-label">
                                                        {{'FirstStep.LastName' | translate}}*
                                                    </label>
                                                    <input maxlength="128" type="text" id="ORlastName" class="form-control" formControlName="lastName">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.PhoneTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['phone'].value,
                                                        'has-error': overallResponsibleCtrl.controls['phone'].invalid && overallResponsibleCtrl.controls['phone'].touched
                                                    }">
                                                    <label for="ORPhone" class="control-label">
                                                        {{'FirstStep.Phone' | translate}}*
                                                    </label>
                                                    <input maxlength="50" type="text" id="ORPhone" class="form-control" formControlName="phone">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group help-form-group__left">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.EmailTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['email'].value,
                                                        'has-error': overallResponsibleCtrl.controls['email'].invalid && overallResponsibleCtrl.controls['email'].touched
                                                    }">
                                                    <label for="OREmail" class="control-label">
                                                        {{'FirstStep.Email' | translate}}*
                                                    </label>
                                                    <input maxlength="256" type="text" id="OREmail" class="form-control" formControlName="email">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-control">
                            <div class="form-group">
                                <div class="pmd-switch">
                                    <label>
                                        <input type="checkbox" [formControl]="gdprFirstStepForm.controls['isHasDPO']" (change)="ishasDPOchange()">
                                        <span class="pmd-switch-label"></span>
                                    </label>
                                    <span class="pmd-switch__text">{{'FirstStep.CompanyHasDPO' | translate}}</span>
                                </div>
                            </div>
                            <div class="pl30" *ngIf="gdprFirstStepForm.controls['isHasDPO'].value">
                                <div class="row" formGroupName="dpo">
                                    <div class="col-xs-6">
                                        <div class="help-form-group">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.TitleTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': DPOinfomationCtrl.controls['title'].value,
                                                        'has-error': DPOinfomationCtrl.controls['title'].invalid && DPOinfomationCtrl.controls['title'].touched
                                                    }">
                                                    <label for="DPOTitle" class="control-label">
                                                        {{'FirstStep.Title' | translate}}*
                                                    </label>
                                                    <input maxlength="50" type="text" id="DPOTitle" class="form-control" formControlName="title">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.FirstNameTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': DPOinfomationCtrl.controls['firstName'].value,
                                                        'has-error': DPOinfomationCtrl.controls['firstName'].invalid && DPOinfomationCtrl.controls['firstName'].touched
                                                    }">
                                                    <label for="DPOfirstName" class="control-label">
                                                        {{'FirstStep.FirstName' | translate}}*
                                                    </label>
                                                    <input maxlength="128" type="text" id="DPOfirstName" class="form-control" formControlName="firstName">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group help-form-group__left">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.LastNameTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': DPOinfomationCtrl.controls['lastName'].value,
                                                        'has-error': DPOinfomationCtrl.controls['lastName'].invalid && DPOinfomationCtrl.controls['lastName'].touched
                                                    }">
                                                    <label for="DPOlastName" class="control-label">
                                                        {{'FirstStep.LastName' | translate}}*
                                                    </label>
                                                    <input maxlength="128" type="text" id="DPOlastName" class="form-control" formControlName="lastName">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.PhoneTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': DPOinfomationCtrl.controls['phone'].value,
                                                        'has-error': DPOinfomationCtrl.controls['phone'].invalid && DPOinfomationCtrl.controls['phone'].touched
                                                    }">
                                                    <label for="DPOPhone" class="control-label">
                                                        {{'FirstStep.Phone' | translate}}*
                                                    </label>
                                                    <input maxlength="50" type="text" id="DPOPhone" class="form-control" formControlName="phone">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="help-form-group help-form-group__left">
                                            <div class="help-form-group__icon">
                                                <i class="material-icons pmd-tooltip">help_outline</i>
                                                <div class="help-form-group__help-text">
                                                    {{'FirstStep.EmailTooltip' | translate}}
                                                </div>
                                            </div>
                                            <div class="help-form-group__form">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'pmd-textfield-floating-label-completed': DPOinfomationCtrl.controls['email'].value,
                                                        'has-error': DPOinfomationCtrl.controls['email'].invalid && DPOinfomationCtrl.controls['email'].touched
                                                    }">
                                                    <label for="DPOEmail" class="control-label">
                                                        {{'FirstStep.Email' | translate}}*
                                                    </label>
                                                    <input maxlength="256" type="text" id="DPOEmail" class="form-control" formControlName="email">
                                                    <span class="pmd-textfield-focused"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.body-panel -->
        </div>
        <!-- /.panel -->
        <div class="row">
            <div class="col-xs-6">
                <div class="pa20">
                    <p>{{'General.ComeBackLater' | translate}}</p>
                </div>
            </div>
        </div>
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-info" type="button" (click)="saveGDPRInfo(gdprFirstStepForm.value,true)">{{'General.Save' | translate}}</button>
        <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="submit">{{'General.SaveContinue' | translate}}</button>
        <div class="mt20"></div>
    </form>
</div>