<modal-dialog [(modalDialog)]="confirmDialog">
    <p>{{'StartPage.ProgramGeneratedAlready' | translate}}</p>
    <div class="pmd-modal-bordered text-right">
        <button class="btn pmd-ripple-effect btn-default" type="button" (click)="confirmDialog.visible=false;" >{{'StartPage.Cancel' | translate}}</button>
        <button class="btn pmd-ripple-effect btn-primary" type="button" (click)="generate(true)" [disabled]="isGenerating">{{'StartPage.OK' | translate}}</button>
    </div>
</modal-dialog>

<div class="container" *ngIf="ready">
    <div class="row mt30">
        <div class="col-xs-6">
            <h1>{{'StartPage.Title' | translate}}</h1>
            <p>{{'StartPage.Introduction' | translate}}</p>
        </div>
        <div class="col-xs-6">
            <!-- <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1xy_afgALSIa"></iframe>
            </div> -->
        </div>
    </div>
    <div class="mt30 panel panel-default pmd-z-depth">
        <div class="panel-body">
            <div class="mt30"></div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="ph20">
                        <div class="card-stepper" [ngClass]="{'active': status?.isStep1Completed}" routerLink="/gdpr-wizard/first-step">
                            <div class="card-stepper__inner">
                                <div class="card-stepper__icon">
                                    <i class="material-icons">business</i>
                                </div>
                                <div class="card-stepper__text">
                                    <div>{{'StartPage.Step1' | translate}}</div>
                                    <p *ngIf="!status?.step1Percent">{{'StartPage.Waiting' | translate}}</p>
                                    <p *ngIf="status?.step1Percent > 0 && status?.step1Percent < 100">{{'StartPage.InProgress' | translate}}</p>
                                </div>
                                <div class="card-stepper__button">
                                    <i class="material-icons pmd-sm">check</i>
                                    <strong>1</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="ph20">
                        <div class="card-stepper" [ngClass]="{'active': status?.isStep2Completed}" (click)="goToStep2()">
                            <div class="card-stepper__inner">
                                <div class="card-stepper__icon">
                                    <i class="material-icons">cached</i>
                                </div>
                                <div class="card-stepper__text">
                                    <div> {{'StartPage.Step2' | translate}}</div>
                                    <p *ngIf="!status?.step2Percent">{{'StartPage.Waiting' | translate}}</p>
                                    <p *ngIf="status?.step2Percent > 0 && status?.step2Percent < 100">{{'StartPage.InProgress' | translate}}</p>
                                </div>
                                <div class="card-stepper__button">
                                    <i class="material-icons pmd-sm">check</i>
                                    <strong>2</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="ph20">
                        <div class="card-stepper" [ngClass]="{'active': status?.isStep3Completed}" (click)="goToStep3()">
                            <div class="card-stepper__inner">
                                <div class="card-stepper__progress hidden">
                                    <div class="progress-rounded progress pmd-progress">
                                        <div class="progress-bar progress-bar-success" style="width: 34%;"></div>
                                    </div>
                                </div>
                                <div class="card-stepper__icon">
                                    <i class="material-icons">help_outline</i>
                                </div>
                                <div class="card-stepper__text">
                                    <div> {{'StartPage.Step3' | translate}}</div>
                                    <p *ngIf="!status?.step3Percent">{{'StartPage.Waiting' | translate}}</p>
                                    <p *ngIf="status?.step3Percent > 0 && status?.step3Percent < 100">{{'StartPage.InProgress' | translate}}</p>
                                </div>
                                <div class="card-stepper__button">
                                    <i class="material-icons pmd-sm">check</i>
                                    <strong>3</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt30"></div>
        </div>
    </div>
    <div class="mt30 panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="text-center" #generateBtn id="generateBtn">
                        <h2 class="mt30">{{'StartPage.GenerateYourProgram' | translate}}</h2>
                        <p class="text-justify">{{'StartPage.ProgramDescription' | translate}}</p>
                        <div class="mt40"></div>
                        <button [disabled]="!(status?.isStep1Completed && status?.isStep2Completed && status?.isStep3Completed) || isGenerating" class="btn btn-primary btn-lg"
                        [innerHtml]="'StartPage.GenerateButton' | translate" (click)="generate(false)"></button>
                        <div class="mt30"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt30">&nbsp;</div>
</div>