<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
    <system.web>
        <authentication mode="Windows" />
        <authorization>
            <allow users="mbs.complyto@gmail.com" />
            <deny users="long.nguyen@synova-solutions.com" />
        </authorization>
    </system.web>
    <!--<system.webServer>
        <handlers>
          <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\MoneyTransferApp.Web.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
        <rewrite>
            <rules>
                <rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^cts-secure-cccp-dev\.azurewebsites\.net$" />
                    </conditions>
                    <action type="Redirect" url="http://secure-dev.complyto.com/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>-->
    <appSettings>
        <add key="HttpAuthModule.AuthMode" value="Digest" />
        <add key="HttpAuthModule.Realm" value="SecureZone"/>
        <add key="HttpAuthModule.Credentials" value="mbs:Gdpr@018;dev:qqqQ111!"/>
        <add key="HttpAuthModule.DigestNonceValidDuration" value="120"/>
        <add key="HttpAuthModule.DigestNonceSalt" value="uht9987bbbSAX" />
        <!--<add key="HttpAuthModule.RestrictIPAddresses" value="127.0.0.1;::1"/>
        <add key="HttpAuthModule.IgnorePathRegex" value="^/Home/Ignore$|^/Ignore\.aspx$"/>-->
        <!--<add key="HttpAuthModule.IgnoreIPAddresses" value="127.0.0.1;::1"/>-->
    </appSettings>
</configuration>
<!--ProjectGuid: 81094EDA-91BD-4AD9-B905-6B76998F4D9C-->
