<div class="side-backdrop" (click)="back()"></div>
<div class="side-form-2">
    <div *ngIf="ready">
        <button class="btn-link no-padding" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="step-title">
            <h2>{{'SecondStep.SourceOfYourData' | translate}}
                <span class="help-group__icon help-group__icon-bottom">
                    <i class="material-icons">help_outline</i>
                    <span class="help-group__help-text">{{ 'SecondStep.SourceOfYourDataTooltip' | translate}}</span>
                </span>
            </h2>
        </div>
        <table class="detail-table">
            <tbody>
                <tr>
                    <td item-width="200">{{'SecondStep.Process' | translate}}:</td>
                    <td>
                        <strong>{{source[0]?.tagName}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>{{'SecondStep.PersonType' | translate}}:</td>
                    <td>
                        <strong>{{source[1]?.tagName}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>{{'SecondStep.ITSystem' | translate}}:</td>
                    <td>
                        <strong>{{source[3]?.tagName}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>{{'SecondStep.DataType' | translate}}:</td>
                    <td>
                        <strong>{{source[2]?.tagName}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group mt30">
            <!-- <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                <input type="checkbox" value="" checked="">
                <span class="pmd-checkbox-label">&nbsp;AAAAAAAAA</span>
            </label> -->
            <div class="checkbox" *ngFor="let source of listDataSources">
                <div class="col-xs-6 no-padding">
                    <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                        <input type="checkbox" [value]="source.tagId" [checked]="source.marked" [(ngModel)]="source.marked">
                        <span class="pmd-checkbox-label">&nbsp;{{source.tagName}}</span>
                    </label>
                    <!-- <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                    <input type="checkbox" id="{{source.tagId}}" [(ngModel)]="selectedDataSourceId" [value]="source.tagId" (change)="select(source)">
                    <span class="pmd-radio-label">&nbsp;</span>
                    <span>{{source.tagName}}</span>
                </label> -->

                    <div *ngIf="source.marked">
                        <div *ngIf="source.tagId !== fromProfilingId" class="form-group pmd-textfield mt10" [ngClass]="{'pmd-textfield-floating-label': !exchangeData}">
                            <ng-select placeholder="{{'SecondStep.ExchangeData' | translate}}" id="suggestion-list" [options]="listSuggestionsForExchangeData"
                                (noOptionsFound)="onNoExchangeDataOptionsFound($event)" [(ngModel)]="source.exchangeDataCodes" filterPlaceholder="{{'SecondStep.SelectFromList' | translate}}"
                                multiple="true"></ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                        <div *ngIf="source.tagId === thirdPartyId" class="form-group pmd-textfield" [ngClass]="{'pmd-textfield-floating-label': !dataSourceName}">
                            <ng-select placeholder="{{'SecondStep.DataSourceName' | translate}}" id="suggestion-list" [options]="listSuggestions" (noOptionsFound)="onNoOptionsFound($event)"
                                [(ngModel)]="source.dataSourceName" filterPlaceholder="{{'SecondStep.SelectFromList' | translate}}"
                                multiple="true"></ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                        <div *ngIf="source.tagId !== fromProfilingId" class="mt10">&nbsp;</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- <div class="mt30" *ngIf="selectedDataSourceId && selectedDataSourceId != fromProfilingId">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group pmd-textfield" [ngClass]="{'pmd-textfield-floating-label': !exchangeData}">
                        <ng-select placeholder="{{((selectedDataSourceId && selectedDataSourceId != fromProfilingId) ? 'SecondStep.ExchangeData' : '') | translate}}" 
                            id="suggestion-list" [options]="listSuggestionsForExchangeData"  (noOptionsFound)="onNoExchangeDataOptionsFound($event)" 
                            [(ngModel)]="exchangeDataName" filterPlaceholder="{{'SecondStep.SelectFromList' | translate}}" 
                            [disabled]="!selectedDataSourceId || selectedDataSourceId == fromProfilingId" multiple="true"></ng-select>
                        <span class="pmd-textfield-focused"></span>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="mt20" *ngIf="selectedDataSourceId == thirdPartyId">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group pmd-textfield" [ngClass]="{'pmd-textfield-floating-label': !dataSourceName}">
                        <ng-select placeholder="{{(selectedDataSourceId == thirdPartyId ? 'SecondStep.DataSourceName' : '') | translate}}" id="suggestion-list"
                            [options]="listSuggestions" (noOptionsFound)="onNoOptionsFound($event)" [(ngModel)]="dataSourceName"
                            filterPlaceholder="{{'SecondStep.SelectFromList' | translate}}" [disabled]="selectedDataSourceId != thirdPartyId"
                            multiple="true"></ng-select>
                        <span class="pmd-textfield-focused"></span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" class="mt50">
            <button type="submit" class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" (click)="save()">{{'General.SaveBack' | translate}}</button>
        </div>
    </div>
</div>