<div class="task-detail-backdrop">
    <div *ngIf="readyToLoad">
        <div class="task-detail pmd-z-depth-1" [ngClass]="{'task-detail--info': taskDetail.isControl}">
            <div class="task-detail__inner">
                <div class="task-detail__name row">
                    <div class="col-md-6">
                        {{'Task.TaskDetailName' | translate}}:
                        <strong>{{taskDetail.taskTitle}}</strong>
                    </div>
                    <div class="col-md-6">
                        {{'Task.ProcessName' | translate}}:
                        <strong>{{taskDetail.processName}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="task-detail__panel">
                            <table class="info-table">
                                <tr>
                                    <td>{{'Task.PerformerDeadline' | translate}}: </td>
                                    <td><strong *ngIf="taskDetail.performerDeadline">{{taskDetail.performerDeadline | dateformatpipe}}</strong></td>
                                </tr>
                                <tr *ngIf="taskDetail.reviewerDeadline">
                                    <td>{{'Task.ReviewerDeadline' | translate}}: </td>
                                    <td><strong *ngIf="taskDetail.reviewerDeadline">{{taskDetail.reviewerDeadline | dateformatpipe}}</strong></td>
                                </tr>
                                <tr>
                                    <td>{{'Task.TaskPeriod' | translate}}: </td>
                                    <td><strong *ngIf="taskDetail.endDate ">{{taskDetail.startDate | dateformatpipe}} - {{taskDetail.endDate | dateformatpipe}}</strong><strong *ngIf="!taskDetail.endDate ">{{'Management.NeverEnd' | translate}}</strong></td>
                                </tr>
                            </table>
                        </div>
                        <div class="task-detail__panel">
                            <h3>{{'Task.TaskDetailDescription' | translate}}</h3>
                            <p>{{taskDetail.taskDesc}}</p>
                        </div>
                        <div class="task-detail__panel">
                            <table  class="info-table">
                                <tr>
                                    <td>{{'Task.TaskDetailResponsible' | translate}}: </td>
                                    <td>
                                        <div class="users-select">
                                            <div class="select-avatar">{{taskDetail.performer}}</div>
                                            {{taskDetail.performer}}
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="taskDetail.reviewerDeadline">
                                    <td>{{'Task.TaskDetailReviewer' | translate}}: </td>
                                    <td>
                                        <div class="users-select">
                                            <div class="select-avatar">{{taskDetail.responsible}}</div>
                                            {{taskDetail.responsible}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{'Task.TaskDetailPerformer' | translate}}: </td>
                                    <td>
                                        <div class="users-select" *ngIf="taskDetail.reviewer">
                                            <div class="select-avatar">{{taskDetail.reviewer}}</div>
                                            {{taskDetail.reviewer}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="task-detail__panel">
                                <h3>{{'Task.TaskDetailHistory' | translate}}</h3>
                                <div *ngIf="listHistory.length == 0">{{'Task.HistoryNotFound' | translate}}</div>
                                <div style="max-height: 150px; overflow-y: auto;" *ngIf="listHistory.length > 0">
                                    <div class="history-item mb10" *ngFor="let item of listHistory">
                                        <div class="media-body media-middle">
                                            <h3 class="pmd-card-title-text">{{item.date | dateformatpipe: true}}</h3>
                                            <span class="pmd-card-subtitle-text">
                                                <p *ngIf="item.fieldName == 'Management.ControlAssercertions'" [innerHtml]="('Management.AssertChanged' | translate: {owner: item.owner, fieldName: (item.fieldName | translate)})"></p>
                                                <p *ngIf="item.fieldName == 'Todo'" [innerHtml]="('Management.UpdatedTodo' | translate: {owner: item.owner, fieldName: (item.fieldName | translate)})"></p>
                                                <p *ngIf="item.fieldName == 'Task'"[innerHtml]="('Management.AddNewTask'| translate: {owner: item.owner, newValue: item.newValue})"></p>
                                                <p *ngIf="item.fieldName && item.newValue" [innerHtml]="('Management.NormalUpdated' | translate: 
                                                {
                                                    owner: item.owner,
                                                    fieldName: (item.fieldName | translate),
                                                    oldValue: item.oldValue ? (item.oldValue | translate) : 'N/A',
                                                    newValue: (item.newValue | translate)
                                                }
                                            )"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="task-detail__panel">
                            <h3>{{'Task.TaskDetailPerformerTask' | translate}}</h3>
                            <div style="max-height: 250px; overflow-y: auto;">
                                <table class="table pmd-table list-todos-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">{{'Task.Approve' | translate}}</th>
                                            <th style="width: 10%">{{'Task.Reject' | translate}}</th>
                                            <th>{{'Task.Todo' | translate}}</th>
                                            <th style="width: 40%">{{'Task.TaskDetailDocumentRequired' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let todo of taskDetail.todos">
                                            <td style="width: 10%">
                                                <div class="text-center">
                                                    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                                        <input [disabled]='isDone || isReadOnly' type="checkbox" name="" [checked]="todo.isApprove" (click)="approveClick(todo)"><span class="pmd-checkbox-label">&nbsp;</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="width: 10%">
                                                <div class="text-center">
                                                    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                                        <input [disabled]='isDone || isReadOnly' type="checkbox" name="" [checked]="todo.isReject" (click)="rejectClick(todo)"><span class="pmd-checkbox-label">&nbsp;</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td *ngIf="!todo.isComplete">{{todo.title}}</td>
                                            <td *ngIf="todo.isComplete"><del>{{todo.title}}</del></td>
                                            <td>
                                                    <div class="wrap-text" *ngIf="todo.requireDocumentation && todo.uploadedFile">
                                                            <span>{{todo.uploadedFile.fileName}}</span>
                                                            <div class="pull-right">
                                                                <i class="material-icons pmd-xs md-dark media-middle download" (click)="download(todo.uploadedFile)">cloud_download</i>
                                                            </div>
                                                        </div>
    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': taskDetail.taskResultComment
                            }">
                                <label for="taskName" class="control-label">
                                    {{ 'Task.TaskDetailTaskResult' | translate }}
                                </label>
                                <textarea [disabled]='isDone || isReadOnly' class="form-control" [(ngModel)]="taskDetail.taskResultComment"></textarea>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': taskDetail.feedbackToAdmin
                            }">
                                <label for="taskName" class="control-label">
                                    {{ 'Task.TaskDetailFeedback' | translate }}
                                </label>
                                <textarea [disabled]='isDone || isReadOnly' class="form-control" [(ngModel)]="taskDetail.feedbackToAdmin"></textarea>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="mt20 text-right" *ngIf="!isDone">
                            <button class="btn btn-default active" (click)="clickSave()" [disabled]="isReadOnly">{{ 'Task.SaveCurrent' | translate }}</button>
                            <button class="btn btn-primary" (click)="clickDone()" [disabled]="isReadOnly">{{ 'Task.ReviewComplete' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="task-detail__status"></div>
        </div>
    </div>
</div>