<div class="container">

    <form [formGroup]="taskManagementForm">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10">
                <button class="btn-link no-padding" routerLink="/gdpr/management/processes">
                    <i class="material-icons">arrow_back</i>
                </button>
                <h1>{{ 'Management.Title' | translate }}</h1>
                <div class="panel mt20">
                    <div class="panel-body">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': taskManagementForm.controls['taskTitle'].value,
                                'has-error':!taskManagementForm.controls['taskTitle'].valid && taskManagementForm.controls['taskTitle'].touched}">
                            <label for="taskName" class="control-label">
                                {{ 'Management.TaskName' | translate }}
                            </label>
                            <input type="text" id="taskName" class="form-control" formControlName="taskTitle">
                            <span class="pmd-textfield-focused"></span>
                        </div>
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': taskManagementForm.controls['taskDescription'].value,
                                'has-error':!taskManagementForm.controls['taskDescription'].valid && taskManagementForm.controls['taskDescription'].touched}">
                            <label for="taskName" class="control-label">
                                {{ 'Management.TaskDescription' | translate }}
                            </label>
                            <textarea class="form-control" formControlName="taskDescription"></textarea>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                        <div class="form-group">
                            <div class="pmd-switch">
                                <label>
                                    <input id="hasSubCompany" type="checkbox" formControlName="isControl" (change)="isControlChange('')">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <span class="pmd-switch__text">{{ 'Management.isUseLabel' | translate }}</span>
                            </div>
                        </div>
                        <div *ngIf="taskManagementForm.controls['isControl'].value">
                            <div class="form-grop">
                                <strong>{{ 'Management.ControlType' | translate }}</strong>
                                <div class="radio">
                                    <label class="pmd-radio pmd-radio-ripple-effect">
                                        <input type="radio" formControlName="controlType1Id" name="controlType1Id" value="1">
                                        <span class="pmd-radio-label">&nbsp;</span>
                                        <span>{{ 'Management.Preventive' | translate }}</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="pmd-radio pmd-radio-ripple-effect">
                                        <input type="radio" formControlName="controlType1Id" name="controlType1Id" value="2">
                                        <span class="pmd-radio-label">&nbsp;</span>
                                        <span>{{ 'Management.Detective' | translate }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-grop">
                                <strong>{{ 'Management.ControlType' | translate }} 2</strong>
                                <div class="radio">
                                    <label class="pmd-radio pmd-radio-ripple-effect">
                                        <input type="radio" formControlName="controlType2Id" name="controlType2Id" value="1">
                                        <span class="pmd-radio-label">&nbsp;</span>
                                        <span>{{ 'Management.Automatic' | translate }}</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="pmd-radio pmd-radio-ripple-effect">
                                        <input type="radio" formControlName="controlType2Id" name="controlType2Id" value="2">
                                        <span class="pmd-radio-label">&nbsp;</span>
                                        <span>{{ 'Management.Manual' | translate }}</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label class="pmd-radio pmd-radio-ripple-effect">
                                        <input type="radio" formControlName="controlType2Id" name="controlType2Id" value="3">
                                        <span class="pmd-radio-label">&nbsp;</span>
                                        <span>{{ 'Management.ItEnabled' | translate }}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': taskManagementForm.controls['controlAssertionIds'].value,
                                'has-error': taskManagementForm.controls['controlAssertionIds'].invalid && taskManagementForm.controls['controlAssertionIds'].touched
                            }">
                                <label for="controlAssertionIds" class="control-label">
                                    {{ 'Management.ControlAssercertions' | translate }}
                                </label>
                                <ng-select id="controlAssertionIds" formControlName="controlAssertionIds" [options]="defineControlAssercertions" noFilter="10"
                                    multiple="true">
                                </ng-select>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel mt20">
                    <div class="panel-body">
                        <strong>{{ 'Management.AssignTask' | translate }}</strong>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                    'pmd-textfield-floating-label-completed': taskManagementForm.controls['process'].value,
                                    'has-error': taskManagementForm.controls['process'].invalid && taskManagementForm.controls['process'].touched
                                }">
                                    <label for="Process" class="control-label">
                                        {{ 'Management.ChooseProcess' | translate }}
                                    </label>
                                    <ng-select id="Process" formControlName="process" [options]="defineProcess" noFilter="10">
                                    </ng-select>
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                    'pmd-textfield-floating-label-completed': taskManagementForm.controls['risk'].value,
                                    'has-error': taskManagementForm.controls['risk'].invalid && taskManagementForm.controls['risk'].touched
                                }">
                                    <label for="Risk" class="control-label">
                                        {{ 'Management.ChooseRisk' | translate }}
                                    </label>
                                    <ng-select id="Risk" formControlName="risk" [options]="defineRisks" noFilter="10">
                                    </ng-select>
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt20">
                            <div class="col-xs-6">
                                <strong>{{ 'Management.TaskPerformer' | translate }}</strong>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                    'pmd-textfield-floating-label-completed': taskManagementForm.controls['taskPerformerId'].value,
                                    'has-error': taskManagementForm.controls['taskPerformerId'].invalid && taskManagementForm.controls['taskPerformerId'].touched
                                }">
                                    <label for="Process" class="control-label">
                                        {{ 'Management.ChooseTask' | translate }}
                                    </label>
                                    <ng-select id="Process" formControlName="taskPerformerId" [options]="defineUserInCompany" noFilter="10">
                                    </ng-select>
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <strong>{{ 'Management.TaskResponsible' | translate }}</strong>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                    'pmd-textfield-floating-label-completed': taskManagementForm.controls['taskResponsibleId'].value,
                                    'has-error': taskManagementForm.controls['taskResponsibleId'].invalid && taskManagementForm.controls['taskResponsibleId'].touched
                                }">
                                    <label for="Risk" class="control-label">
                                        {{ 'Management.ChooseTaskOwner' | translate }}
                                    </label>
                                    <ng-select id="Risk" formControlName="taskResponsibleId" [options]="defineUserInCompany" noFilter="10">
                                    </ng-select>
                                    <span class="pmd-textfield-focused"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel mt20">
                    <div class="panel-body">
                        <strong>{{ 'Management.TaskSchedule' | translate }}</strong>
                        <div class="pmd-switch mt20">
                            <label>
                                <input id="RecurringTask" formControlName="isRecurring" type="checkbox" (change)="isRecurringChange(null)">
                                <span class="pmd-switch-label"></span>
                            </label>
                            <span class="pmd-switch__text">{{ 'Management.RecurringTask' | translate }}</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <mat-form-field>
                                    <input matInput [min]="minDate" formControlName="startDate" [matDatepicker]="pickerStartDay" placeholder="{{ 'Management.pickerStartDay' | translate }}">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStartDay"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStartDay></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <mat-form-field>
                                    <input matInput [min]="minDate" formControlName="endDate" [matDatepicker]="pickerEndDay" placeholder="{{ 'Management.pickerEndDay' | translate }}">
                                    <mat-datepicker-toggle matSuffix [for]="pickerEndDay" [disabled]="endDayDisable"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEndDay></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-6">
                                <div class="pmd-switch mt20" [ngClass]="{'hidden': isDisableNeverEnd}">
                                    <label>
                                        <input id="neverEnd" formControlName="neverEnd" type="checkbox" (change)="isScheduleNeverEndChange(null)">
                                        <span class="pmd-switch-label"></span>
                                    </label>
                                    <span class="pmd-switch__text">{{ 'Management.NeverEnd' | translate }}</span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="taskManagementForm.controls['isRecurring'].value">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                        'pmd-textfield-floating-label-completed': taskManagementForm.controls['scheduleTypeId'].value,
                                        'has-error': taskManagementForm.controls['scheduleTypeId'].invalid && taskManagementForm.controls['scheduleTypeId'].touched
                                    }">
                                        <label for="Risk" class="control-label">
                                            {{ 'Management.ScheduleType' | translate }}
                                        </label>
                                        <ng-select id="Risk" [formControl]="taskManagementForm.controls['scheduleTypeId']" [options]="defineScheduleTypes" noFilter="10">
                                        </ng-select>
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-inline__text">
                                {{ 'Management.PerformerDeadline' | translate }}:
                                <strong>{{ 'Management.IsEndOfPeriod' | translate }} </strong>
                                <span>&nbsp;&nbsp;</span>
                            </div>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': taskManagementForm.controls['performerDeadlineId'].value,
                                'has-error': taskManagementForm.controls['performerDeadlineId'].invalid && taskManagementForm.controls['performerDeadlineId'].touched
                            }">
                                <label for="Risk" class="control-label">
                                    {{ 'Management.ChooseDelay' | translate }}
                                </label>
                                <ng-select id="Risk" [formControl]="taskManagementForm.controls['performerDeadlineId']" [options]="definePeriods" noFilter="10">
                                </ng-select>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel mt10">
                    <div class="panel-body">
                        <div class="pmd-switch">
                            <label>
                                <input formControlName="enableTaskReview" type="checkbox" (change)="enableTaskReviewChange(null)">
                                <span class="pmd-switch-label"></span>
                            </label>
                            <span class="pmd-switch__text">{{ 'Management.EnableTaskReview' | translate }}</span>
                        </div>
                        <div *ngIf="taskManagementForm.controls['enableTaskReview'].value">
                            <div class="row mt20">
                                <div class="col-xs-4">
                                    <strong>{{ 'Management.TaskReviewer' | translate }}</strong>
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                        'pmd-textfield-floating-label-completed': taskManagementForm.controls['taskReviewerId'].value,
                                        'has-error': taskManagementForm.controls['taskReviewerId'].invalid && taskManagementForm.controls['taskReviewerId'].touched
                                    }">
                                        <label for="Risk" class="control-label">
                                            {{ 'Management.ChooseTaskReviewer' | translate }}
                                        </label>
                                        <ng-select id="Risk" formControlName="taskReviewerId" [options]="defineUserInCompany" noFilter="10">
                                        </ng-select>
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <strong>{{ 'Management.ReviewerDueDate' | translate }}</strong>
                                    <div class="form-inline">
                                        <div class="form-inline__text">
                                            <strong>{{ 'Management.PerformerDeadline' | translate }} + </strong>
                                            <span>&nbsp;&nbsp;</span>
                                        </div>
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                            'pmd-textfield-floating-label-completed': taskManagementForm.controls['reviewerDueDateId'].value,
                                            'has-error': taskManagementForm.controls['reviewerDueDateId'].invalid && taskManagementForm.controls['reviewerDueDateId'].touched
                                        }">
                                            <label for="Risk" class="control-label">
                                                {{ 'Management.ChooseDelay' | translate }}
                                            </label>
                                            <ng-select id="Risk" formControlName="reviewerDueDateId" [options]="definePeriods" noFilter="10">
                                            </ng-select>
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <h3>{{ 'Management.AddYourToDo' | translate }}</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <div [formGroup]="todoFormGroup">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                        'has-error': todoFormGroup.controls['title'].invalid && todoFormGroup.controls['title'].touched
                                                    }">
                                                <label for="taskName" class="control-label">
                                                    {{ 'Management.TodoName' | translate }}
                                                </label>
                                                <textarea id="taskName" class="form-control" formControlName="title" [(ngModel)]="todoNameInput"></textarea>
                                                <span class="pmd-textfield-focused"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <button class="btn mt20" type="button" (click)="updateTodoList()" [ngClass]="{'btn-primary': todoNameInput, 'btn-default active': !todoNameInput}">{{todoBtnText}}</button>
                                        </div>
                                    </div>
                                    <div class="pmd-switch">
                                        <label>
                                            <input id="neverEnd" type="checkbox" formControlName="requireDocumentation">
                                            <span class="pmd-switch-label"></span>
                                        </label>
                                        <span class="pmd-switch__text">{{ 'Management.DocumentationRequired' | translate }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 mt20">
                                <div class="list-process">
                                    <ul class="list-group pmd-z-depth pmd-list pmd-list-avatar pmd-card-list">
                                        <li class="list-group-item" *ngIf="listTodos.length == 0">{{ 'Management.NoTodoForTask' | translate }}</li>
                                        <li *ngFor="let item of listTodos" class="list-group-item">
                                            <div class="media-body media-middle">
                                                {{item.title}}
                                            </div>
                                            <i *ngIf="item.requireDocumentation" class="material-icons md-dark pmd-sm media-middle" (click)="uploadFile()">attach_file</i>
                                            <i class="material-icons md-dark pmd-xs media-middle" (click)="editTodo(item)" title="edit">mode_edit</i>
                                            <i class="material-icons md-dark pmd-xs media-middle" (click)="deteleTodo(item)">delete</i>
                                            <i class="material-icons md-dark pmd-xs media-middle" *ngIf="listTodos.length > 1" (click)="moveUp(item)">keyboard_arrow_up</i>
                                            <i class="material-icons md-dark pmd-xs media-middle" (click)="moveDown(item)" *ngIf="listTodos.length > 1">keyboard_arrow_down</i>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div class="pmd-switch">
                            <label>
                                <input formControlName="isPublished" type="checkbox">
                                <span class="pmd-switch-label"></span>
                            </label>
                            <span class="pmd-switch__text">{{ 'Management.PublishTask' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt20">
                    <button class="btn btn-primary" (click)="saveTask()">{{ 'Management.Save' | translate }}</button>
                    <button class="btn btn-default active" routerLink="/gdpr/management/processes">{{ 'Management.Cancel' | translate }}</button>
                </div>
                <div class="mt20"></div>
            </div>

        </div>
    </form>

</div>