<nav class="small-nav-bar nav-bar nav">
    <div class="container-fluid">
        <ul class="small-nav list-unstyled list-inline">
            <li class="small-nav__item" [routerLinkActive]="['active']"><a class="small-nav__link" routerLink="dashboard">{{ 'Submenu.Dashboard' | translate }}</a></li>
            <li class="small-nav__item dropdown pmd-dropdown" [routerLinkActive]="['active']" *ngIf="showPrivateNavigate">
                <a class="small-nav__link" [matMenuTriggerFor]="tasks" #taskButton="matMenuTrigger" (onMenuClose)="closeMenu()" (click)="smallMenuClick(taskButton)">{{ 'Submenu.Tasks' | translate }}</a>
                <mat-menu #tasks="matMenu">
                    <button mat-menu-item routerLink="tasks/perform" [routerLinkActive]="['active']">{{ 'Submenu.Perform' | translate }}</button>
                    <button mat-menu-item routerLink="tasks/review" [routerLinkActive]="['active']">{{ 'Submenu.Review' | translate }}</button>
                </mat-menu>
            </li>
            <li class="small-nav__item" [routerLinkActive]="['active']" *ngIf="!showPrivateNavigate">
                <a class="small-nav__link" routerLink="tasks/perform" [routerLinkActive]="['active']">{{ 'Submenu.Perform' | translate }}</a>
            </li>
            <li class="small-nav__item" [routerLinkActive]="['active']" *ngIf="!showPrivateNavigate">
                <a class="small-nav__link" routerLink="tasks/review" [routerLinkActive]="['active']">{{ 'Submenu.Review' | translate }}</a>
            </li>
            <!-- <li class="small-nav__item" [routerLinkActive]="['active']"><a class="small-nav__link" disabled>{{ 'Submenu.Reports' | translate }}</a></li>
            <li class="small-nav__item" [routerLinkActive]="['active']">
                <a class="small-nav__link" disabled>{{ 'Submenu.Knowledge' | translate }}</a>
                <mat-menu #knowledge="matMenu">
                    <button mat-menu-item disabled>{{ 'Submenu.Legal' | translate }}</button>
                    <button mat-menu-item disabled>{{ 'Submenu.Vocabulary' | translate }}</button>
                </mat-menu>
            </li> -->
            <li class="small-nav__item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" *ngIf="showPrivateNavigate">
                <a class="small-nav__link" [matMenuTriggerFor]="management" #managementButton="matMenuTrigger" (onMenuClose)="closeMenu()" (click)="smallMenuClick(managementButton)">{{ 'Submenu.Management' | translate }}</a>
                <mat-menu #management="matMenu">
                    <button mat-menu-item routerLink="management/processes" [routerLinkActive]="['active']">{{ 'Submenu.Processes' | translate }}</button>
                    <button mat-menu-item routerLink="management/risk" [routerLinkActive]="['active']">{{ 'Submenu.Risks' | translate }}</button>
                    <button mat-menu-item routerLink="management/policy" [routerLinkActive]="['active']">{{ 'Submenu.Policies' | translate }}</button>
                    <button mat-menu-item routerLink="management/persondata">{{ 'Submenu.Persondata' | translate }}</button>
                    <button mat-menu-item disabled>{{ 'Submenu.It-Systems' | translate }}</button>
                    <button mat-menu-item routerLink="management/dataprocessor" [routerLinkActive]="['active']">{{ 'Submenu.Dataprocessor' | translate }}</button>
                    <button mat-menu-item disabled>{{ 'Submenu.Databreach' | translate }}</button>
                    <button mat-menu-item routerLink="../gdpr-wizard" [routerLinkActive]="['active']">{{ 'Submenu.Wizard' | translate }}</button>
                </mat-menu>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>