<div class="side-form-2">
    <button class="btn-link no-padding" routerLink="../">
        <i class="material-icons">arrow_back</i>
    </button>
    <h2>{{ 'Dataprocess.CounterpartInfo' | translate }}</h2>
    <form [formGroup]="counterpartInfoForm" (ngSubmit)="onSubmit(counterpartInfoForm.value)">
        <h3>{{'Counterpart.CompanyInfo' | translate}}</h3>
        <div class="row">
            <div class="col-xs-6">
                <div class="help-form-group">
                    <div class="help-form-group__icon">
                        <i class="material-icons pmd-tooltip">help_outline</i>
                        <div class="help-form-group__help-text">
                            {{'Counterpart.CompanyNameTooltip' | translate}}
                        </div>
                    </div>
                    <div class="help-form-group__form">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                'pmd-textfield-floating-label-completed': counterpartInfoForm.controls['companyName'].value,
                                'has-error': counterpartInfoForm.controls['companyName'].invalid && counterpartInfoForm.controls['companyName'].touched
                            }">
                            <label for="companyName" class="control-label">
                                {{'Counterpart.CompanyName' | translate}}*
                            </label>
                            <input maxlength="256" type="text" id="companyName" class="form-control" [formControl]="counterpartInfoForm.controls['companyName']">
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="help-form-group__form">
                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                            'pmd-textfield-floating-label-completed': counterpartInfoForm.controls['language'].value,
                            'has-error': counterpartInfoForm.controls['language'].invalid && counterpartInfoForm.controls['language'].touched
                        }">
                        <label for="lastYearResult" class="control-label">
                            {{'Counterpart.Language' | translate}}*
                        </label>
                        <ng-select  [formControl]="counterpartInfoForm.controls['language']" [options]="defineLanguage" noFilter="10">
                        </ng-select>
                        <span class="pmd-textfield-focused"></span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div formGroupName="counterpartDetail">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="help-form-group">
                                <div class="help-form-group__icon">
                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                    <div class="help-form-group__help-text">
                                        {{'Counterpart.CompanyRegistrationTooltip' | translate}}
                                    </div>
                                </div>
                                <div class="help-form-group__form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                            'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['registration'].value,
                                            'has-error': companyDetailCtrl.controls['registration'].invalid && companyDetailCtrl.controls['registration'].touched
                                        }">
                                        <label for="companyRegistration" class="control-label">
                                            {{'Counterpart.CompanyRegistration' | translate}}
                                        </label>
                                        <input maxlength="128" type="text" id="companyRegistration" class="form-control" formControlName="registration">
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="help-form-group">
                                <div class="help-form-group__icon">
                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                    <div class="help-form-group__help-text">
                                        {{'Counterpart.VatRegistrationNoTooltip' | translate}}
                                    </div>
                                </div>
                                <div class="help-form-group__form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                            'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['vatRegistrationNo'].value,
                                            'has-error': companyDetailCtrl.controls['vatRegistrationNo'].invalid && companyDetailCtrl.controls['vatRegistrationNo'].touched
                                        }">
                                        <label for="VatRegistrationNo" class="control-label">
                                            {{'Counterpart.VatRegistrationNo' | translate}}
                                        </label>
                                        <input maxlength="128" type="text" id="VatRegistrationNo" class="form-control" formControlName="vatRegistrationNo">
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6">
                            <div class="help-form-group">
                                <div class="help-form-group__icon">
                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                    <div class="help-form-group__help-text">
                                        {{'Counterpart.CompanyAddressTooltip' | translate}}
                                    </div>
                                </div>
                                <div class="help-form-group__form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                            'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['companyAddress'].value,
                                            'has-error': companyDetailCtrl.controls['companyAddress'].invalid && companyDetailCtrl.controls['companyAddress'].touched
                                        }">
                                        <label for="lastYearResult" class="control-label">
                                            {{'Counterpart.CompanyAddress' | translate}}
                                        </label>
                                        <input maxlength="128" type="text" id="lastYearResult" class="form-control" formControlName="companyAddress">
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="help-form-group">
                                <div class="help-form-group__icon">
                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                    <div class="help-form-group__help-text">
                                        {{'Counterpart.ZipcodeTooltip' | translate}}
                                    </div>
                                </div>
                                <div class="help-form-group__form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                            'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['zipCode'].value,
                                            'has-error': companyDetailCtrl.controls['zipCode'].invalid && companyDetailCtrl.controls['zipCode'].touched
                                        }">
                                        <label for="lastYearResult" class="control-label">
                                            {{'Counterpart.Zipcode' | translate}}
                                        </label>
                                        <input maxlength="20" type="text" id="lastYearResult" class="form-control" formControlName="zipCode">
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6">
                            <div class="help-form-group">
                                <div class="help-form-group__icon">
                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                    <div class="help-form-group__help-text">
                                        {{'Counterpart.CityTooltip' | translate}}
                                    </div>
                                </div>
                                <div class="help-form-group__form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                            'pmd-textfield-floating-label-completed': companyDetailCtrl.controls['city'].value,
                                            'has-error': companyDetailCtrl.controls['city'].invalid && companyDetailCtrl.controls['city'].touched
                                        }">
                                        <label for="lastYearResult" class="control-label">
                                            {{'Counterpart.City' | translate}}
                                        </label>
                                        <input maxlength="128" type="text" id="lastYearResult" class="form-control" formControlName="city">
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="help-form-group">
                                <div class="help-form-group__icon">
                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                    <div class="help-form-group__help-text">
                                        {{'Counterpart.CountryTooltip' | translate}}
                                    </div>
                                </div>
                                <div class="help-form-group__form">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                                            pmd-textfield-floating-label-completed': companyDetailCtrl.controls['country'].value,
                                            'has-error': companyDetailCtrl.controls['country'].invalid && companyDetailCtrl.controls['country'].touched
                                        }">
                                        <label for="lastYearResult" class="control-label">
                                            {{'Counterpart.Country' | translate}}*
                                        </label>
                                        <ng-select formControlName="country" [options]="defineCountry" noFilter="10">
                                        </ng-select>
                                        <span class="pmd-textfield-focused"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-control">
                    <div class="form-group">
                        <div class="pmd-switch">
                            <label>
                                <input id="hasSubCompany" type="checkbox" [formControl]="counterpartInfoForm.controls['isHasSub']" (change)="hasSubCompanyChange()">
                                <span class="pmd-switch-label"></span>
                            </label>
                            <span class="pmd-switch__text"><strong>{{'Counterpart.Subsidaries' | translate}}</strong></span>
                        </div>
                    </div>
                    <div class="pl30" *ngIf="counterpartInfoForm.controls['isHasSub'].value">
                        <div formArrayName="subsidiaries">
                            <div *ngFor="let subItem of subCompanyCtrl.controls; let i = index">
                                <div *ngIf="i != 0" class="row">
                                    <div class="col-xs-11">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div [formGroupName]="i">
                                        <div class="col-xs-6">
                                            <div class="help-form-group">
                                                <div class="help-form-group__icon">
                                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                                    <div class="help-form-group__help-text">
                                                        {{'Counterpart.Subsidaries' | translate}}
                                                    </div>
                                                </div>
                                                <div class="help-form-group__form">
                                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls.name.value}">
                                                        <label for="subCompanyName" class="control-label">
                                                            {{'Counterpart.CompanyName' | translate}}*
                                                        </label>
                                                        <input maxlength="256" type="text" class="form-control" name="subCompanyName" formControlName="name">
                                                        <span class="pmd-textfield-focused"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="help-form-group">
                                                <div class="help-form-group__icon">
                                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                                    <div class="help-form-group__help-text">
                                                        {{'Counterpart.CompanyRegistrationTooltip' | translate}}
                                                    </div>
                                                </div>
                                                <div class="help-form-group__form">
                                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                            'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['registration'].value,
                                                            'has-error': subCompanyCtrl.controls[i].controls['registration'].invalid && subCompanyCtrl.controls[i].controls['registration'].touched
                                                        }">
                                                        <label for="subCompanyRegistration" class="control-label">
                                                            {{'Counterpart.CompanyRegistration' | translate}}
                                                        </label>
                                                        <input maxlength="256" type="text" class="form-control" name="subCompanyRegistration" formControlName="registration">
                                                        <span class="pmd-textfield-focused"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-6">
                                            <div class="help-form-group">
                                                <div class="help-form-group__icon">
                                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                                    <div class="help-form-group__help-text">
                                                        {{'Counterpart.CompanyAddressTooltip' | translate}}
                                                    </div>
                                                </div>
                                                <div class="help-form-group__form">
                                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                            'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['companyAddress'].value,
                                                            'has-error': subCompanyCtrl.controls[i].controls['companyAddress'].invalid && subCompanyCtrl.controls[i].controls['companyAddress'].touched
                                                        }">
                                                        <label for="subCompanyAddress" class="control-label">
                                                            {{'Counterpart.CompanyAddress' | translate}}
                                                        </label>
                                                        <input maxlength="128" type="text" id="subCompanyAddress" class="form-control" formControlName="companyAddress">
                                                        <span class="pmd-textfield-focused"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="help-form-group">
                                                <div class="help-form-group__icon">
                                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                                    <div class="help-form-group__help-text">
                                                        {{'Counterpart.ZipcodeTooltip' | translate}}
                                                    </div>
                                                </div>
                                                <div class="help-form-group__form">
                                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                            'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['zipCode'].value,
                                                            'has-error': subCompanyCtrl.controls[i].controls['zipCode'].invalid && subCompanyCtrl.controls[i].controls['zipCode'].touched
                                                        }">
                                                        <label for="subZipCode" class="control-label">
                                                            {{'Counterpart.Zipcode' | translate}}
                                                        </label>
                                                        <input maxlength="20" type="text" id="subZipCode" class="form-control" formControlName="zipCode">
                                                        <span class="pmd-textfield-focused"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-6">
                                            <div class="help-form-group">
                                                <div class="help-form-group__icon">
                                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                                    <div class="help-form-group__help-text">
                                                        {{'Counterpart.CityTooltip' | translate}}
                                                    </div>
                                                </div>
                                                <div class="help-form-group__form">
                                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                            'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['city'].value,
                                                            'has-error': subCompanyCtrl.controls[i].controls['city'].invalid && subCompanyCtrl.controls[i].controls['city'].touched
                                                        }">
                                                        <label class="control-label">
                                                            {{'Counterpart.City' | translate}}
                                                        </label>
                                                        <input maxlength="128" type="text" class="form-control" formControlName="city">
                                                        <span class="pmd-textfield-focused"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="help-form-group">
                                                <div class="help-form-group__icon">
                                                    <i class="material-icons pmd-tooltip">help_outline</i>
                                                    <div class="help-form-group__help-text">
                                                        {{'Counterpart.CountryTooltip' | translate}}
                                                    </div>
                                                </div>
                                                <div class="help-form-group__form">
                                                    <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                            'pmd-textfield-floating-label-completed': subCompanyCtrl.controls[i].controls['country'].value,
                                                            'has-error': subCompanyCtrl.controls[i].controls['country'].invalid && subCompanyCtrl.controls[i].controls['country'].touched
                                                        }">
                                                        <label class="control-label">
                                                            {{'Counterpart.Country' | translate}}
                                                        </label>
                                                        <ng-select formControlName="country" [options]="defineCountry" noFilter="10">
                                                        </ng-select>
                                                        <span class="pmd-textfield-focused"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12" *ngIf="i != 0">
                                            <button class="btn pmd-btn-flat pmd-ripple-effect btn-danger" type="button" (click)="removeSubCompany(i)">
                                                Remove subsidaries
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right">
                                    {{'Counterpart.AddMoreSubsidaries' | translate}}
                                    <button class="btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" type="button" [disabled]="subCompanyCtrl.invalid"
                                        (click)="addSubCompany({})">
                                        <i class="material-icons pmd-sm">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-xs-12">
                <h3>{{'Counterpart.OverallResponsible' | translate}}</h3>
                <div class="group-control">
                    <strong>{{ 'Counterpart.ContactPerson' | translate }}</strong>
                    <div class="pl30">
                        <div class="row" formGroupName="contactPerson">
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.TitleTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['title'].value,
                                                'has-error': overallResponsibleCtrl.controls['title'].invalid && overallResponsibleCtrl.controls['title'].touched
                                            }">
                                            <label for="ORTitle" class="control-label">
                                                {{'Counterpart.Title' | translate}}
                                            </label>
                                            <input maxlength="50" type="text" id="ORTitle" class="form-control" formControlName="title">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.FirstNameTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['firstName'].value,
                                                'has-error': overallResponsibleCtrl.controls['firstName'].invalid && overallResponsibleCtrl.controls['firstName'].touched
                                            }">
                                            <label for="ORFirstName" class="control-label">
                                                {{'Counterpart.FirstName' | translate}}
                                            </label>
                                            <input maxlength="128" type="text" id="ORFirstName" class="form-control" formControlName="firstName">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.LastNameTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['lastName'].value,
                                                'has-error': overallResponsibleCtrl.controls['lastName'].invalid && overallResponsibleCtrl.controls['lastName'].touched
                                            }">
                                            <label for="ORlastName" class="control-label">
                                                {{'Counterpart.LastName' | translate}}
                                            </label>
                                            <input maxlength="128" type="text" id="ORlastName" class="form-control" formControlName="lastName">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.PhoneTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['phone'].value,
                                                'has-error': overallResponsibleCtrl.controls['phone'].invalid && overallResponsibleCtrl.controls['phone'].touched
                                            }">
                                            <label for="ORPhone" class="control-label">
                                                {{'Counterpart.Phone' | translate}}
                                            </label>
                                            <input maxlength="50" type="text" id="ORPhone" class="form-control" formControlName="phone">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.EmailTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': overallResponsibleCtrl.controls['email'].value,
                                                'has-error': overallResponsibleCtrl.controls['email'].invalid && overallResponsibleCtrl.controls['email'].touched
                                            }">
                                            <label for="OREmail" class="control-label">
                                                {{'Counterpart.Email' | translate}}
                                            </label>
                                            <input maxlength="256" type="text" id="OREmail" class="form-control" formControlName="email">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-control">
                    <div class="form-group">
                        <div class="pmd-switch">
                            <label>
                                <input type="checkbox" [formControl]="counterpartInfoForm.controls['isSignature']" (change)="isSignaturechange()">
                                <span class="pmd-switch-label"></span>
                            </label>
                            <span class="pmd-switch__text"><strong>{{'Counterpart.CompanyHasSignaturePerson' | translate}}</strong></span>
                        </div>
                    </div>
                    <div class="pl30" *ngIf="counterpartInfoForm.controls['isSignature'].value">
                        <div class="row" formGroupName="signaturePerson">
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.TitleTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': signaturePersonCtrl.controls['title'].value,
                                                'has-error': signaturePersonCtrl.controls['title'].invalid && signaturePersonCtrl.controls['title'].touched
                                            }">
                                            <label for="SignaturePersonTitle" class="control-label">
                                                {{'Counterpart.Title' | translate}}
                                            </label>
                                            <input maxlength="50" type="text" id="SignaturePersonTitle" class="form-control" formControlName="title">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.FirstNameTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': signaturePersonCtrl.controls['firstName'].value,
                                                'has-error': signaturePersonCtrl.controls['firstName'].invalid && signaturePersonCtrl.controls['firstName'].touched
                                            }">
                                            <label for="SignaturePersonfirstName" class="control-label">
                                                {{'Counterpart.FirstName' | translate}}
                                            </label>
                                            <input maxlength="128" type="text" id="SignaturePersonfirstName" class="form-control" formControlName="firstName">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.LastNameTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': signaturePersonCtrl.controls['lastName'].value,
                                                'has-error': signaturePersonCtrl.controls['lastName'].invalid && signaturePersonCtrl.controls['lastName'].touched
                                            }">
                                            <label for="SignaturePersonlastName" class="control-label">
                                                {{'Counterpart.LastName' | translate}}
                                            </label>
                                            <input maxlength="128" type="text" id="SignaturePersonlastName" class="form-control" formControlName="lastName">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.PhoneTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': signaturePersonCtrl.controls['phone'].value,
                                                'has-error': signaturePersonCtrl.controls['phone'].invalid && signaturePersonCtrl.controls['phone'].touched
                                            }">
                                            <label for="SignaturePersonPhone" class="control-label">
                                                {{'Counterpart.Phone' | translate}}
                                            </label>
                                            <input maxlength="50" type="text" id="SignaturePersonPhone" class="form-control" formControlName="phone">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="help-form-group">
                                    <div class="help-form-group__icon">
                                        <i class="material-icons pmd-tooltip">help_outline</i>
                                        <div class="help-form-group__help-text">
                                            {{'Counterpart.EmailTooltip' | translate}}
                                        </div>
                                    </div>
                                    <div class="help-form-group__form">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{
                                                'pmd-textfield-floating-label-completed': signaturePersonCtrl.controls['email'].value,
                                                'has-error': signaturePersonCtrl.controls['email'].invalid && signaturePersonCtrl.controls['email'].touched
                                            }">
                                            <label for="SignaturePersonEmail" class="control-label">
                                                {{'Counterpart.Email' | translate}}
                                            </label>
                                            <input maxlength="256" type="text" id="SignaturePersonEmail" class="form-control" formControlName="email">
                                            <span class="pmd-textfield-focused"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt30">
            <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="submit">{{'General.SaveAndContinue' | translate}}</button>
        </div>
        <div class="mt20"></div>
    </form>
</div>