<div class="container-fluid">
    <h2>{{ Home.Title }}</h2>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="page.keyword" (keyup)="filter($event)" placeholder="Type a keyword and press Enter to filter...">
            </div>
        </div>
    </div>
    <div class="data-table">
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="'auto'"
            [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber - 1" [limit]="page.itemsPerPage" (page)='paginate($event)'
            (sort)="sort($event)">
            <ngx-datatable-column prop="customerNumber">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Number</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="fullName">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Full name</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>{{value}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="email">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Email Address</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <a href="mailto:{{value}}">{{value}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="phone">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Phone</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template> {{value}} </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="companyName">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Company Name</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template> {{value}} </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="companyNumber">
                <ng-template let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sort()">Company Number</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template> {{value}} </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="roles" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                    <span>Roles</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span *ngFor="let role of value">{{role}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="isActive" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                    <span>Status</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value ? 'Active' : 'Inactive'}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="lockedOutEnd" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                    <span>Locked Until</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value | date : 'medium'}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="false">
                <ng-template ngx-datatable-header-template>
                    <span>Actions</span>
                </ng-template>
                <ng-template let-row='row' ngx-datatable-cell-template>
                    <button *ngIf="row.isActive" class="btn btn-sm btn-warning" (click)="deactivate(row)">Deactivate</button>
                    <button *ngIf="!row.isActive" class="btn btn-sm btn-default" (click)="reactivate(row)">Reactivate</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>