<div class="persondata-bar">
    <div class="panel">
        <div class="panel-body">
            <ul class="list list-unstyled list-inline">
                <li>1. {{'Persondata.ChooseProcess' | translate}}</li>
                <li *ngFor="let process of allProcesses" [ngClass]="{'active': process.value == selectedProcess.value}" (click)="_data.changeLoadStatus(true); selectProcess(process)">
                    <span>{{process.label}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="persondata-bar">
    <div class="panel">
        <div class="panel-body">
            <ul class="list list-unstyled list-inline">
                <li>2. {{'Persondata.ChoosePersonCategory' | translate}}</li>
                <li  *ngFor="let personGroup of allPersonGroups" [ngClass]="{'active': personGroup.value == selectedPersonGroup.value}" (click)="_data.changeLoadStatus(true); selectPersonGroup(personGroup)">
                    <span>{{personGroup.label}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<h2 class="fs18" *ngIf="selectedProcess && selectedPersonGroup" [innerHtml]="'Persondata.YourPurposes'| translate:{process: selectedProcess.label, personGroup: selectedPersonGroup.label}"></h2>
<mat-accordion class="main-accordion" *ngIf="allPurposes">
    <mat-expansion-panel   *ngFor="let purpose of allPurposes" (opened)="selectPurpose(purpose)" [expanded]="selectedPurpose ? (purpose.purposeId == selectedPurpose.purposeId) : false" >
        <mat-expansion-panel-header >
            <mat-panel-title>
                <h2 class="title-no-margin">{{purpose.purposeTagName}}</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
            <div class="col-xs-8">
                <h3>{{'Persondata.PurposeCategory' | translate}}:</h3>
                <ul class="purpose-category">
                    <li *ngFor="let item of purpose.purposeCategory">{{item}}</li>
                </ul>
                <h3>{{'Persondata.JustificationPurpose' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{'Persondata.JustificationPurposeTooltip' | translate}}</span></span></h3>
                <div class="pl25">
                    <div  *ngIf="purposeModel" class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'pmd-textfield-floating-label-completed': purposeModel.purposeJustification}">
                        <label for="explanationPupose" class="control-label">
                            {{'Persondata.ExplanationPupose' | translate}}
                        </label>
                        <textarea class="form-control" [(ngModel)]="purposeModel.purposeJustification"></textarea>
                        <span class="pmd-textfield-focused"></span>
                    </div>
                </div>
                <div class="mt30"></div>
                <h3>{{'Persondata.JustificationDeletionPeriod' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{'Persondata.JustificationDeletionPeriodTooltip' | translate}}</span></span></h3>
                <div class="pl25">
                    <mat-tab-group class="small-tab-group" *ngIf="purpose.dataTypes">
                        <mat-tab *ngFor="let dataType of purpose.dataTypes; let i = index" label="{{dataType.dataTypeName}}">
                            <span [innerHtml]="'Persondata.DataTypeStorage'| translate:{dataType: dataType.dataTypeName}"></span>: <strong>{{dataType.itSystemName}}</strong>
                            <br>
                            <span>{{'Persondata.DeletionPeriod' | translate}}</span> : <strong>{{dataType.deletionPeriod}}</strong>
                            <div class="form-group pmd-textfield pmd-textfield-floating-label" *ngIf="purposeModel.deletionJustifications[i]" [ngClass]="{'pmd-textfield-floating-label-completed': purposeModel.deletionJustifications[i].justification}">
                                <label for="lableDataType" class="control-label">
                                    {{'Persondata.LabelDataType' | translate}}
                                </label>
                                <textarea class="form-control" [(ngModel)]="purposeModel.deletionJustifications[i].justification"></textarea>
                                <span class="pmd-textfield-focused"></span>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-lg btn-default" (click)="selectPurpose(purpose)">{{'Persondata.Cancel' | translate}}</button>
            <button class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" (click)="savePurpose()">{{'Persondata.Save' | translate}}</button>
        </div>
    </mat-expansion-panel>
   
</mat-accordion>