<div class="side-backdrop" (click)="back()"></div>
<div class="side-form-2">
    <div *ngIf="ready">
        <button class="btn-link no-padding" (click)="back()">
            <i class="material-icons">arrow_back</i>
        </button>
        <div class="step-title">
            <h2>{{'SecondStep.LocationAndAge' | translate}} <span class="help-group__icon help-group__icon-bottom"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.LocationAndAgeTooltip' | translate}}</span></span></h2>
        </div>
        <table class="detail-table">
            <tbody>
                <tr>
                    <td item-width="200">{{'SecondStep.Process' | translate}}:</td>
                    <td>
                        <strong>{{source[0]?.tagName}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>{{'SecondStep.PersonType' | translate}}:</td>
                    <td>
                        <strong>{{source[1]?.tagName}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt30">
            <div class="form-group mt30">
                <div class="pmd-switch">
                    <label> 
                        <input id="isPrivacy" type="checkbox" [(ngModel)]="includeChildren">
                        <span class="pmd-switch-label"></span>
                    </label>
                    <!-- <span class="pmd-switch__text">{{'SecondStep.CollectingChildren' | translate}}</span> -->
                    <span class="pmd-switch__text">{{question.questionDefaultText}}</span> <span class="help-group__icon help-group__icon-bottom"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.QuestionDefaultTextTooltip' | translate}}</span></span>
                </div>
            </div>
        </div>
        <h3>
            <strong>{{'SecondStep.WherePersonsLocated' | translate}}</strong> 
            <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.WherePersonsLocatedTooltip' | translate}}</span></span>
        </h3>
        <div class="row mt10">
            <div class="col-xs-6 col-md-4 list-country">
                <strong>{{'SecondStep.ChooseFromList' | translate}}</strong>
                <ul class="list-group pmd-z-depth pmd-list pmd-card-list">
                    <div *ngFor="let country of listCountries">
                        <li [@tableColumnHighlightTransition]="countryState" (click)="select(country)" class="list-group-item" *ngIf="!country.marked">
                            <div class="media-body media-middle">{{country.tagName}}</div>
                            <i class="material-icons md-dark pmd-sm media-middle media-right">keyboard_arrow_right</i>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4 col-md-offset-1 list-country">
                <strong>{{'SecondStep.SelectedCountries' | translate}}</strong>
                <ul class="list-group pmd-z-depth pmd-list pmd-card-list">
                    <div *ngFor="let tuple of tuples">
                        <li *ngIf="tuple[2] && !tuple[2].deleting" (click)="unselect(tuple[2])" class="list-group-item">
                            <div class="media-body media-middle">{{tuple[2]?.tagName}}</div>
                            <i class="material-icons md-dark pmd-sm media-middle media-right">delete</i>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="mt20">
            <button (click)="save()" class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="button">{{'General.SaveBack' | translate}}</button>
        </div>
    </div>
</div>