<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2>{{'Perform.Title' | translate}}</h2>
            <p>{{'Perform.Description' | translate}}</p>
        </div>
    </div>
    <div class="filter-bar">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="check-box-group">
                            <strong class="pull-left">{{'Perform.FilterText' | translate}}</strong>
                            <div class="pmd-switch pull-left">
                                <label>
                                    <input type="checkbox" [(ngModel)]="checkboxTaskFilter" (change)="checkboxClick()">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <span class="pmd-switch__text">{{'Perform.FilterTask' | translate}}</span>
                            </div>
                            <div class="pmd-switch pmd-switch-info pull-left ">
                                <label>
                                    <input type="checkbox" [(ngModel)]="checkboxControlFilter" (change)="checkboxClick()">
                                    <span class="pmd-switch-label"></span>
                                </label>
                                <span class="pmd-switch__text">{{'Perform.FilterTaskAndControl' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group pmd-textfield pull-left">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="material-icons">sort</i></div>
                                
                                <input class="form-control" id="filterText" type="text" [(ngModel)]="taskFilter.taskTitle" name="filterText" placeholder="{{'Perform.FilterTextBox' | translate}}"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-xs-8">
            <div class="panel task-list-area">
                <div class="panel-body">
                    <h3>{{'Perform.Today' | translate}}</h3>
                    <div class="list-tasks">
                        <div class="pull-left" *ngFor="let item of listTasks | filterBy: taskFilter">
                            <div class="task-item" *ngIf="filterTaskTime(item) <= 1 && isPerform(item) && !item.isCompleted" [ngClass]="{'task-item--info': item.isControl, 'task-item--error': isRejected(item.taskStatus)}" (click)="openDialog(item.taskId)">
                                <div class="task-item__inner">
                                    <div class="task-item__name">
                                        <div class="task-item__error" *ngIf="item.overDue"><i class="material-icons">error_outline</i></div>
                                        {{item.taskTitle}}
                                    </div>
                                    <div class="task-item__responsbility user-tag-item">
                                        <div class="users-select">
                                            <div class="select-avatar">{{item.taskPerformer}}</div>
                                            {{item.taskPerformer}}
                                        </div>
                                    </div>
                                    <div class="task-item__ratio">
                                        <i class="material-icons">assignment</i> {{item.totalCompletedToDos}}/{{item.totalTodos}}
                                    </div>
                                    <div class="task-item__status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel task-list-area">
                <div class="panel-body">
                    <h3>{{'Perform.Next7Days' | translate}}</h3>
                    <div class="list-tasks">
                        <div class="pull-left" *ngFor="let item of listTasks | filterBy: taskFilter ">
                            <div class="task-item" *ngIf="filterTaskTime(item) == 7 && isPerform(item) && !item.isCompleted" [ngClass]="{'task-item--info': item.isControl, 'task-item--error': isRejected(item.taskStatus)}" (click)="openDialog(item.taskId)">
                                <div class="task-item__inner">
                                    <div class="task-item__name">
                                        <div class="task-item__error" *ngIf="item.overDue"><i class="material-icons">error_outline</i></div>
                                        {{item.taskTitle}}
                                    </div>
                                    <div class="task-item__responsbility user-tag-item">
                                        <div class="users-select">
                                            <div class="select-avatar">{{item.taskPerformer}}</div>
                                            {{item.taskPerformer}}
                                        </div>
                                    </div>
                                    <div class="task-item__ratio">
                                        <i class="material-icons">assignment</i> {{item.totalCompletedToDos}}/{{item.totalTodos}}
                                    </div>
                                    <div class="task-item__status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel task-list-area" style="margin-bottom: 0;">
                <div class="panel-body">
                    <h3>{{'Perform.7to30Days' | translate}}</h3>
                    <div class="list-tasks">
                        <div class="pull-left" *ngFor="let item of listTasks | filterBy: taskFilter ">
                            <div class="task-item" *ngIf="filterTaskTime(item) == 30 && isPerform(item) && !item.isCompleted" [ngClass]="{'task-item--info': item.isControl, 'task-item--error': isRejected(item.taskStatus)}" (click)="openDialog(item.taskId)">
                                <div class="task-item__inner">
                                    <div class="task-item__name">
                                        <div class="task-item__error" *ngIf="item.overDue"><i class="material-icons">error_outline</i></div>
                                        {{item.taskTitle}}
                                    </div>
                                    <div class="task-item__responsbility user-tag-item">
                                        <div class="users-select">
                                            <div class="select-avatar">{{item.taskPerformer}}</div>
                                            {{item.taskPerformer}}
                                        </div>
                                    </div>
                                    <div class="task-item__ratio">
                                        <i class="material-icons">assignment</i> {{item.totalCompletedToDos}}/{{item.totalTodos}}
                                    </div>
                                    <div class="task-item__status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="panel task-list-area" style="height:100%">
                <div class="panel-body">
                    <h3>{{'Perform.DoneRecently' | translate}}</h3>
                    <div class="list-tasks">
                        <div *ngFor="let item of listTasks | filterBy: taskFilter ">
                            <div class="task-item" *ngIf="item.isCompleted" [ngClass]="{'task-item--info': item.isControl}" (click)="openDialog(item.taskId)">
                                <div class="task-item__inner">
                                    <div class="task-item__name">
                                        <!-- <div class="task-item__error" *ngIf="item.overDue"><i class="material-icons">error_outline</i></div> -->
                                        {{item.taskTitle}}
                                    </div>
                                    <div class="task-item__status"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>