<h1>{{ 'Subscription.CancelConfirmSubscriptionTitle' | translate}}</h1>
<h3 class="mt10">{{ 'Subscription.CancelConfirmSubscriptionSubTitle' | translate}}</h3>
<div mat-dialog-content class="mt20">
    {{ 'Subscription.CancelConfirmSubscriptionContent' | translate}}
</div>
<div mat-dialog-actions class="text-right">
  <button class="btn pmd-ripple-effect btn-default" (click)="onNoClick()" type="button">{{ 'Subscription.CancelConfirmSubscriptionBackBtn' | translate}}</button> 
  <button class="btn pmd-ripple-effect btn-primary ml10" [mat-dialog-close]="confirmValue" type="button">{{ 'Subscription.CancelConfirmSubscriptionConfirmBtn' | translate}}</button>
</div>