.pmd-chip-no-icon {
    font-size: 12px;
    color: white;
    padding-right: 13px;
    height: 20px;
    line-height: 20px;
}

.cancelled, .inactive {
    background-color: #bac3ca;    
}

.pending {
    background-color: #f2cb2a;   
}

.settled, .active {
    background-color: #8cb63c;      
}

.plan-price {
color: #8cb63c;
font-weight: bold;
}

.ngx-datatable.material {
box-shadow: 0 0 0 0;
}
.cancel-alert__title {
    color: #951425;
}
.cancel-alert__title .material-icons {
    font-size: 16px;
    vertical-align: middle;
}