<div class="container" *ngIf="isLoaded">
    <!-- Card header -->
    <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
        <div class="pmd-card-title">
            <h2 class="pmd-card-title-text">{{ 'Subscription.SubscriptionHistoryTitle' | translate }}</h2>
        </div>
        <div class="pmd-card-body row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4">
                        <p class="pull-right"><strong>{{ 'Subscription.Plan' | translate }}</strong></p>
                    </div>
                    <div class="col-xs-8">
                        <p>{{plan?.name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="pull-right"><strong>{{ 'Subscription.CreatedOn' | translate }}</strong></p>
                    </div>
                    <div class="col-xs-8">
                        <p>{{subscription?.created | dateformatpipe: true}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="pull-right"><strong>{{ 'Subscription.Status' | translate }}</strong></p>
                    </div>
                    <div class="col-xs-8">
                            <div *ngIf="subscription?.in_trial" class="pmd-chip pmd-chip-no-icon active">In Trial - {{ subscription?.remaining }} days remaining</div>
                            <div *ngIf="!subscription?.in_trial" class="pmd-chip pmd-chip-no-icon active" [ngClass]="{'active': subscription?.state === 'active', 'inactive': subscription?.state !== 'active'}">{{subscription?.state}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <p class="pull-right"><strong>{{ 'Subscription.GracePeriod' | translate }}</strong></p>
                    </div>
                    <div class="col-xs-8">
                        <p>{{subscription?.grace_duration / 86400}} days</p>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xs-4">
                        <p class="pull-right"><strong>Trial Period</strong></p>
                    </div>
                    <div class="col-xs-8">
                        <p>{{subscription?.trial_start | date: 'MM/dd/yy, HH:mm'}} to {{subscription?.trial_end | date: 'MM/dd/yy, HH:mm'}}</p>
                    </div>
                </div> -->
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <h3 class="text-center"><strong>{{ 'Subscription.TotalNoVat' | translate }}</strong></h3>
                    <h3 class="text-center">{{plan?.currency}} <span class="plan-price">{{plan?.amount / 100 | number: '1.2-2' | replace}}</span> / every month</h3>
                </div>
            </div>
           
        </div>
    </div>
    <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
            <div class="pmd-card-body row">
                    <div class="col-xs-4">
                            <h3 class="text-center"><strong>{{ 'Subscription.FirstPeriodStart' | translate }}</strong></h3>
                            <p class="text-center">{{subscription?.first_period_start | dateformatpipe: true}}</p>
                    </div>
                    <div class="col-xs-4">
                            <h3 class="text-center"><strong>{{ 'Subscription.CurrentPeriodStart' | translate }}</strong></h3>
                            <p class="text-center" *ngIf="subscription?.current_period_start">{{subscription?.current_period_start | dateformatpipe:true}}</p>
                            <p class="text-center" *ngIf="!subscription?.current_period_start">No active period</p>
                    </div>
                    <div class="col-xs-4" *ngIf="!subscription.is_cancelled">
                            <h3 class="text-center"><strong>{{ 'Subscription.NextPeriodStart' | translate }}</strong></h3>
                            <p class="text-center">{{subscription?.next_period_start | dateformatpipe:true}}</p>
                    </div>
                    <div class="col-xs-4" *ngIf="subscription.is_cancelled">
                        <div class="cancel-alert__title">
                            <i class="material-icons">error</i> {{'Subscription.CancelErrorTitle' | translate}}
                        </div>
                        <div class="cancel-alert__exp">
                            {{'Subscription.CancelErrorExp' | translate}}: {{subscription.expires | dateformatpipe:true}}
                        </div>
                        <a href="/billing-plan?q=resubcribe" class="cancel-alert__link">{{'Subscription.CancelErrorLinkText' | translate}}</a>
                    </div>
            </div>
    </div>

    <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
        <div class="pmd-card-title">
            <h2 class="pmd-card-title-text">Your billing history</h2>
        </div>
        <div>
            <ngx-datatable #historyTable class="material expandable" [loadingIndicator]="loadingIndicator" [rows]="rows" [columnMode]="'force'"
                [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
                [offset]="page.pageNumber - 1" [limit]="page.itemsPerPage" (page)='paginate($event)'>

                <ngx-datatable-row-detail [rowHeight]="'auto'" #invoiceDetailRow>
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                        <div style="padding-left:60px;">
                            <p>{{ 'Subscription.LineItems' | translate }}</p>
                            <table class="table pmd-table table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'Subscription.Description' | translate }}</th>
                                        <th>{{ 'Subscription.From' | translate }}</th>
                                        <th>{{ 'Subscription.To' | translate }}</th>
                                        <th>{{ 'Subscription.Vat' | translate }}</th>
                                        <th><span class="pull-right">{{ 'Subscription.TotalNoVat' | translate }}</span></th>
                                        <th><span class="pull-right">{{ 'Subscription.TotalVat' | translate }}</span></th>
                                        <th><span class="pull-right">{{ 'Subscription.TotalIncVat' | translate }}</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of row.order_lines; let i = index">
                                        <th>{{i + 1}}</th>
                                        <td>{{item.ordertext}}</td>
                                        <td>{{item.period_from | dateformatpipe:true}}</td>
                                        <td>{{item.period_to | dateformatpipe:true}}</td>
                                        <td>{{item.vat | percent}}</td>
                                        <td><span class="pull-right">{{item.amount_ex_vat/100 | number: '1.2-2' | replace}}</span> </td>
                                        <td><span class="pull-right">{{item.amount_vat/100 | number: '1.2-2' | replace}}</span></td>
                                        <td><span class="pull-right">{{item.amount/100  | number: '1.2-2' | replace}}</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="7"><span class="pull-right">{{ 'Subscription.TotalNoVat' | translate }}</span></th>
                                        <th><span class="pull-right">{{row.currency}} {{row.amount_ex_vat/100 | number: '1.2-2' | replace}}</span></th>
                                    </tr>
                                    <tr>
                                        <th colspan="7"><span class="pull-right">{{ 'Subscription.Vat' | translate }}</span></th>
                                        <th><span class="pull-right">{{row.currency}} {{row.amount_vat/100 | number: '1.2-2' | replace}}</span></th>
                                    </tr>
                                    <tr>
                                        <th colspan="7"><span class="pull-right">{{ 'Subscription.TotalIncVat' | translate }}</span></th>
                                        <th><span class="pull-right">{{row.currency}} {{row.amount/100 | number: '1.2-2' | replace}}</span></th>
                                    </tr>

                                </tfoot>
                            </table>

                            <p>{{ 'Subscription.PaymentsAndRefunds' | translate }}</p>
                            <table class="table pmd-table table-sm">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'Subscription.Date' | translate }}</th>
                                        <th>{{ 'Subscription.Type' | translate }}</th>
                                        <th>{{ 'Subscription.PaymentMethod' | translate }}</th>
                                        <th>{{ 'Subscription.Status' | translate }}</th>
                                        <th><span class="pull-right">{{ 'Subscription.Amount' | translate }}</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of row.transactions; let i = index">
                                        <th>{{i + 1}}</th>
                                        <td>{{item.created | dateformatpipe:true}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.card_transaction == null ? '' : item.card_transaction.masked_card}}</td>
                                        <td>{{item.state}}</td>
                                        <td><span class="pull-right">{{item.amount/100  | number: '1.2-2' | replace}}</span></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5"><span class="pull-right">Total Amount</span></th>
                                        <th><span class="pull-right">{{row.currency}} {{(row.amount - row.refunded_amount)/100 | number: '1.2-2' | replace}}</span></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </ng-template>
                </ngx-datatable-row-detail>

                <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        <a href="javascript:void(0);" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" (click)="toggleExpandRow(row)">
                    </a>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column prop="state" [width]="70">
                    <ng-template ngx-datatable-header-template><strong>{{ 'Subscription.Status' | translate }}</strong></ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <div class="pmd-chip pmd-chip-no-icon" [ngClass]="value">{{value}}</div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="type" [width]="70">
                    <ng-template ngx-datatable-header-template><strong>{{ 'Subscription.Type' | translate }}</strong></ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>{{value === 's' ? 'Recurring' : (value === 'so' || value === 'soi' || value === 'co' ? 'One-time' : 'Charge')}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="number" [width]="70">
                    <ng-template ngx-datatable-header-template><strong>{{ 'Subscription.InvoiceNo' | translate }}</strong></ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>#{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="created">
                    <ng-template ngx-datatable-header-template><strong>{{ 'Subscription.BilledOn' | translate }}</strong></ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>{{value | dateformatpipe:true}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="due">
                    <ng-template ngx-datatable-header-template><strong>{{ 'Subscription.DueOn' | translate }}</strong></ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>{{value | dateformatpipe:true}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="refunded_amount" [width]="100">
                    <ng-template ngx-datatable-header-template><strong class="pull-right">{{ 'Subscription.Refunded' | translate }}</strong></ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="text-right">
                            <span *ngIf="row.refunded_amount">{{row.currency}}</span>
                            <span *ngIf="row.refunded_amount">{{value/100 | number: '1.2-2' | replace}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="amount" [width]="100">
                    <ng-template ngx-datatable-header-template><strong class="pull-right">{{ 'Subscription.Amount' | translate }}</strong></ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="text-right">
                            <span>{{row.currency}}</span>
                            <span>{{value/100 | number: '1.2-2' | replace}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>