<div class="container">
  <div class="row">
      <div class="col-xs-6">
          <h1>{{ 'ITSystem.Title' | translate }}</h1>
          <p>{{ 'ITSystem.Description' | translate }}</p>
      </div>
  </div>
  <div class="row mt20">
      <div class="col-xs-6">
          <div class="panel-group pmd-accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab">
                      <h4 class="panel-title white-background">
                          <div class="panel-title__innner">
                              ITSystem name
                              <i class="material-icons md-dark pmd-sm pmd-accordion-arrow">create</i>
                          </div>
                      </h4>
                  </div>
              </div>
          </div>
          <div  class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'pmd-textfield-floating-label-completed': selectedITSystem}">
            <label for="AddVendorCategory" class="control-label">
                {{'Persondata.AddVendorCategory' | translate}}
            </label>
            <ng-select 
                id="suggestion-list" [options]="listSuggestions"  (noOptionsFound)="onNoOptionsFound($event)" 
                [(ngModel)]="selectedITSystem" filterPlaceholder="{{'Persondata.SelectFromList' | translate}}" 
            ></ng-select>
            <span class="pmd-textfield-focused"></span>
          </div>
      </div>
  </div>
</div>