<!-- header -->
<div id="header" style="margin-bottom: 30px">
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-8">
                <div id="logo">
                    <a><img src="../../images/logo-quizz.png" alt="logo" class="hidden-xs hidden-sm"> <img src="../../images/logo-mobile.png" alt="logo" class="visible-xs visible-sm"></a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-4">
                <div id="number-slider">
                    <p>Side <span class="number">{{totalPages}}</span>/<span class="total">{{totalPages}}</span></p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end header -->

<div class="main-content">
    <section class="container">
        <div class="start-test close-test">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="content-start content-page">
                        <h2>TAK FOR DIN DELTAGELSE!</h2>
                        <p>Du er nu kommet igennem alle 19 spørgsmål og resultatet er lige om hjørnet. Vi sender dig rapporten på foranalysen i en mail, men for at kunne personalisere og sende rapporten, har vi brug for lidt information om dig og din virksomhed. Som tak for din deltagelse tilbyder vi dig 3 måneders gratis brug af ComplyTo platformen, når denne bliver tilgængelig senere i år</p>
                        <p>
                            <strong style="display:inline;">Resultatet af foranalysen er kun vejledende, da 19 ja/nej spørgsmål selvfølgelig ikke kan tage højde for netop din virksomheds unikke forhold. </strong>Selv om foranalysen viser, at du har ingen eller begrænsede udfordringer med persondata, vil vi stadig anbefale, at du anvender et værktøj som ComplyTo's platform til en mere dybdegående analyse og til løbende at dokumentere dine politikker, processer mv. Du kan derfor stadig have glæde af de 3 måneders gratis adgang på ComplyTo’s platform, når denne bliver frigivet.
                            <strong style="display:inline;">Såfremt din persondataudfordring er vurderet som mindre, medium eller høj og kompleks </strong>håber vi, at du finder tilbuddet om at prøve ComplyTo’s platform risikofrit i 3 måneder attraktivt til at sikre din overholdelse af persondatareglerne.
                        </p>
                        <p>Hvis du ønsker det, vil vi ligeledes sende dig løbende opdateringer med mere information om platformen og features.</p>
                    </div>
                    <div class="btn-green"><a href="#" data-toggle="modal" data-target=".resultatet">Se resultatet</a></div>
                    <div class="next-pre-question" style="text-align:center;margin-top:10px"><a (click)="reviewAnswer()">Gennemgå svar</a></div>

                    <!-- term condition dialog -->
                    <div id="show-se-resultatet" class="modal fade resultatet" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="main-infomation">
                                    <div class="main-title">
                                        <h2>JA TAK, JEG VIL GERNE MODTAGE NYHEDER</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../../images/close-box.png" alt=""></button>
                                    </div>
                                    <div class="main-body">
                                        <h4>Nu arbejder vi jo med compliance, så vi skal lige have styr på det formelle, inden vi går videre til resultatet.</h4>
                                        <div class="checkbox">
                                            <label class="control control-checkbox">
                                                Ja tak, jeg vil gerne modtage et månedligt nyhedsbrev med tilbud og information om produkter og services fra ComplyTo og relaterede samarbejdspartnere. Yderligere oplysninger findes <a style="text-decoration:underline" target="_blank" href="/terms">her</a>.
                                                <input type="checkbox" [(ngModel)]="chkTerm" />
                                                <div class="control_indicator"></div>
                                            </label>
                                        </div>
                                        <div class="btn-green btn-button-click">
                                            <button md-button [disabled]="!chkTerm" (click)="receiveNews(true)" data-toggle="modal" data-target=".form-info">Tilmeld nyhedsbrev <br /> og videre til resultat</button>
                                            <!--<a [disabled]="!chkTerm" (click)="receiveNews(true)" data-toggle="modal" data-target=".form-info">Tilmeld nyhedsbrev <br /> og videre til resultat</a>-->
                                        </div>
                                        <a (click)="receiveNews(false)" data-toggle="modal" data-target=".form-info" style="text-align:center;">Nej tak, ikke nu - videre til resultat</a>
                                        <!--<div *ngIf="chkTerm;then ifBlock; else elseBlock"></div>
                                        <ng-template #ifBlock>
                                            <a (click)="receiveNews(false)" data-toggle="modal" data-target=".form-info" style="text-align:center;">Nej tak, ikke nu - videre til resultat</a>
                                        </ng-template>
                                        <ng-template #elseBlock>
                                            <a style="color:gray; text-align:center; text-decoration:none">Nej tak, ikke nu - videre til resultat</a>
                                        </ng-template>-->
                                        <!--<a href="#">Nej tak, ikke nu - videre til resultat</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end term condition dialog -->
                    <!-- send mail to user dialog -->
                    <div class="modal fade form-info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="main-infomation">
                                    <div class="main-title">
                                        <h2>FÅ 3 MÅNEDERS GRATIS PRØVEPERIODE!</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../../images/close-box.png" alt=""></button>
                                    </div>
                                    <div class="main-body">
                                        <label class="control control-checkbox">
                                            Ja tak, jeg vil gerne modtage rapporten som en pdf-fil.
                                            <input type="checkbox" [(ngModel)]="isReceivePDF" [disabled]="isDisabledAll"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <label class="control control-checkbox">
                                            Ja tak, jeg vil gerne modtage tilbud om 3 måneders gratis adgang.
                                            <input type="checkbox" [(ngModel)]="isGet3Months" [disabled]="isDisabledAll"/>
                                            <div class="control_indicator"></div>
                                        </label>
                                        <div class="form">
                                            <div class="form-group" id="addresse-group">
                                                <input mdInput name="address" class="form-control" placeholder="Firmanavn" [formControl]="compFormControl" [(ngModel)]="txtCompName">
                                                <md-error *ngIf="compFormControl.hasError('required') && compFormControl.touched">
                                                    Firmanavn er ikke udfyldt korrekt
                                                </md-error>
                                            </div>
                                            <div class="form-group" id="localite-group">
                                                <input mdInput name="localite" class="form-control" placeholder="CVR (optional)" [formControl]="cvrFormControl" [(ngModel)]="txtCVR">
                                                <md-error *ngIf="cvrFormControl.hasError('pattern') && (cvrFormControl.dirty || cvrFormControl.touched)">
                                                    CVR er ikke udfyldt korrekt - Den skal indeholde 8 cifre
                                                </md-error>
                                            </div>
                                            <div class="form-group" id="addresse-group">
                                                <input mdInput name="address" class="form-control" placeholder="Navn" [(ngModel)]="txtName" [formControl]="nameFormControl">
                                                <md-error *ngIf="nameFormControl.hasError('required') && nameFormControl.touched">
                                                    Navn er ikke udfyldt korrekt
                                                </md-error>
                                            </div>
                                            <div class="form-group" id="localite-group">
                                                <input mdInput name="localite" class="form-control" placeholder="Firma email" [formControl]="emailFormControl" [(ngModel)]="txtEmail">
                                                <md-error *ngIf="emailFormControl.hasError('pattern') && emailFormControl.touched">
                                                    Indtast venligst en gyldig e-mail-adresse
                                                </md-error>
                                                <md-error *ngIf="emailFormControl.hasError('required') && emailFormControl.touched">
                                                    Firma email er ikke udfyldt korrekt
                                                </md-error>
                                            </div>
                                            <div class="btn-green">
                                                <button md-button [disabled]="!getValidation() || isDisabledAll" [ngClass]="{'btn': true, 'btn-default': true}" (click) ="sendEmail()">Ja tak, send mig  <br />min rapport</button>
                                                <!--<md-spinner [ngClass]="{'invisible': !isDisabledAll}" style="width:100%;"></md-spinner>-->
                                                <div [ngClass]="{'invisible': !isDisabledAll, 'loader': true}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- end send mail to user dialog-->
            </div>
        </div>
    </section>
</div>
