<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>{{ 'Persondata.Title' | translate }}</h1>
            <p>{{ 'Persondata.Description' | translate }}</p>
        </div>
    </div>
    <div class="mt20"></div>
    <div class="main-tab-group">
        <nav mat-tab-nav-bar>
            <a mat-tab-link
                routerLink="justification"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{'Persondata.Justifications' | translate}}
            </a>
            <a mat-tab-link
                routerLink="3rd-party-country-transfer"
                routerLinkActive #rlsa="routerLinkActive"
                [active]="rlsa.isActive">
                {{'Persondata.3rdPartyCountryTransfer' | translate}}
            </a>
        </nav>
        <div class="mat-tab-body-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>