<div class="side-backdrop" (click)="back()"></div>
<div class="side-form ph30">
    <button class="btn-link no-padding" (click)="back()">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class="step-title">
        <h2>{{'SecondStep.AdditionalInfo' | translate}} <span class="help-group__icon help-group__icon-bottom"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.AdditionalInfoTooltip' | translate}}</span></span></h2>
    </div>
    <table class="detail-table">
        <tbody>
            <tr>
                <td item-width="200">{{'SecondStep.Process' | translate}}:</td>
                <td>
                    <strong>{{source[0]?.tagName}}</strong>
                </td>
            </tr>
            <tr>
                <td>{{'SecondStep.DataType' | translate}}:</td>
                <td>
                    <strong>{{source[1]?.tagName}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="ready1 && ready2">
        <h3>{{'SecondStep.WhichPersonAndIT' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.WhichPersonAndITTooltip' | translate}}</span></span></h3>
        <div>
            <table class="table pmd-table table-bordered table-martrix table-no-responsive table-diag">
                <thead>
                    <tr class="table-active">
                        <th>
                            <span class="table-diag__line"></span>
                            <span class="table-diag__top">{{'SecondStep.ITSystem' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.ITSystemTooltip' | translate}}</span></span></span>
                            <span class="table-diag__bottom">{{'SecondStep.TypeOfPerson' | translate}} <span class="help-group__icon help-group__icon-right"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.TypeOfPersonTooltip' | translate}}</span></span></span>
                        </th>
                        <th *ngFor="let itSystem of listItSystems">{{itSystem.tagName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [@tableAddRowTransition]="''" *ngFor="let personGroup of listPersonGroups">
                        <th [@tableColumnHighlightTransition]="table1State">{{personGroup.tagName}}</th>
                        <td [@tableColumnHighlightTransition]="table1State" *ngFor="let itSystem of personGroup.rowData" class="table-martrix__check"
                            [ngClass]="{'active': itSystem.marked}">
                            <div class="table-martrix__check-inner" (click)="clickTable1(personGroup, itSystem, $event)">
                            </div>
                            <i class="material-icons">check</i>
                            <div class="table-martrix__edit">
                                <div class="table-martrix__edit-btn" (click)="editTable1(personGroup, itSystem, $event)">
                                    <i class="material-icons">mode_edit</i>
                                </div>
                                <div class="table-martrix__edit-btn">
                                    <i class="material-icons" (click)="uncheckTable1(personGroup, itSystem, $event)">clear</i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 class="mt30">{{'SecondStep.WhichPurpose' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.WhichPurposeTooltip' | translate}}</span></span></h3>
        <div>
            <table class="table pmd-table table-bordered table-martrix table-no-responsive table-diag">
                <thead>
                    <tr class="table-active">
                        <th>
                            <span class="table-diag__line"></span>
                            <span class="table-diag__top">{{'SecondStep.TypeOfPerson' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.TypeOfPersonTooltip' | translate}}</span></span></span>
                            <span class="table-diag__bottom">{{'SecondStep.Purpose' | translate}} <span class="help-group__icon help-group__icon-right"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.PurposeTooltip' | translate}}</span></span></span>
                        </th>
                        <th *ngFor="let group of listPersonGroups">{{group.tagName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [@tableAddRowTransition]="''" *ngFor="let purpose of listPurposes">
                        <th [@tableColumnHighlightTransition]="table2State">{{purpose.tagName}}</th>
                        <td [@tableColumnHighlightTransition]="table2State" *ngFor="let personGroup of purpose.rowData" class="table-martrix__check"
                            [ngClass]="{'active': personGroup.marked}">
                            <div class="table-martrix__check-inner" (click)="clickTable2(purpose, personGroup, $event)">
                            </div>
                            <i class="material-icons">check</i>
                            <div class="table-martrix__edit">
                                <div class="table-martrix__edit-btn" (click)="editTable2(purpose, personGroup, $event)">
                                    <i class="material-icons">mode_edit</i>
                                </div>
                                <div class="table-martrix__edit-btn">
                                    <i class="material-icons" (click)="uncheckTable2(purpose, personGroup, $event)">clear</i>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>{{'SecondStep.AddYourOwnPurpose' | translate}} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'SecondStep.AddYourOwnPurposeTooltip' | translate}}</span></span></h3>
                <div class="form-group pmd-textfield" [ngClass]="{'pmd-textfield-floating-label': !customPurpose}">
                    <label for="customPurpose" class="control-label">
                        {{'SecondStep.PurposeName' | translate}}*
                    </label>
                    <input type="text" id="customPurpose" class="form-control" [(ngModel)]="customPurpose">
                    <span class="pmd-textfield-focused"></span>
                </div>
                <div class="help-form-group">
                    <div class="help-form-group__icon">
                        <i class="material-icons pmd-tooltip">help_outline</i>
                        <div class="help-form-group__help-text">
                            {{'SecondStep.PurposeCategoryTooltip' | translate}}
                        </div>
                    </div>
                    <div class="help-form-group__form">
                        <div class="form-group pmd-textfield" [ngClass]="{'pmd-textfield-floating-label': !customPurposeReasonId}">
                            <label for="tag-type" class="control-label">
                                {{'SecondStep.ChooseReason' | translate}}*
                            </label>
                            <ng-select id="tag-type" [options]="definePurposes" noFilter="10" [(ngModel)]="customPurposeReasonId">
                            </ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                </div>
                <button (click)="addCustomPurpose()" type="submit" class="btn" [ngClass]="{'btn-primary': customPurpose && customPurposeReasonId, 'btn-default active': !customPurposeReasonId || !customPurpose}">{{'SecondStep.AddPurpose' | translate}}</button>
            </div>
        </div>
        <div class="mt30">
            <button (click)="save(true)" class="btn btn-lg pmd-btn-raised pmd-ripple-effect btn-primary" type="button">{{'General.SaveBack' | translate}}</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>