<modal-dialog [(modalDialog)]="deleteConfirm">
    <p>{{subscriptionMessage}}</p>
    <div class="pmd-modal-bordered text-right">
        <button class="btn pmd-ripple-effect btn-primary" type="button" (click)="goToSubscription()">OK</button>
    </div>
</modal-dialog>
<div class="container">
    <div class="row">
        <div class="form-group">
            <div class="col-xs-3">
                <h2>{{'Manage.UserManage' | translate}}</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="page.keyword" (keyup)="filter($event)" placeholder="{{ 'Home.SearchBox' | translate }}">
            </div>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary btn-addnew" (click)="newUser()">{{'Manage.AddNew' | translate}}</button>
        </div>
    </div>
    <div class="data-table pmd-card pmd-card-default pmd-z-depth">
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="'auto'"
            [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber - 1" [limit]="page.itemsPerPage" (page)='paginate($event)'
            (sort)="sort($event)">
            <ngx-datatable-column prop="firstName">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.FirstName' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value? value : "N/A"}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="lastName">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.LastName' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value ? value: "N/A"}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="userName">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.UserName' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value ? value: "N/A"}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="phoneNumber">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.PhoneNumber' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value ? value: "N/A"}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="active">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.Active' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <i *ngIf="value" class="material-icons pmd-xs">check_circle</i>
                    <i *ngIf="!value" class="material-icons pmd-xs">highlight_off</i>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="createOn">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.CreateOn' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value? (value | dateformatpipe): "N/A"}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="lastLogin">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.LastLogin' | translate}}</strong>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value? (value | dateformatpipe): "N/A"}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="userId">
                <ng-template ngx-datatable-header-template>
                    <strong>{{'Manage.Action' | translate}}</strong>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <i style="cursor: pointer" *ngIf="!row.isAccountOwner" class="material-icons pmd-xs" (click)="edit(row)">edit</i>
                    <i style="cursor: pointer" *ngIf="!row.isAccountOwner" class="material-icons pmd-xs" (click)="sendInvite(row)" title="{{resendInvitation}}">autorenew</i>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<router-outlet></router-outlet>