<div class="side-form-2">
    <button class="btn-link no-padding" routerLink="../" (click)="goBack()">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class="step-title">
        <h2>{{ 'DataProcessing.StepTitle' | translate }} <span class="help-group__icon help-group__icon-bottom"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'DataProcessing.StepTitleTooltip' | translate}}</span></span></h2>
    </div>
    <table class="detail-table">
        <tbody>
            <tr>
                <td item-width="200">{{ 'DataProcessing.StepItSystem' | translate }}:</td>
                <td>
                    <strong>{{shareTuple[0]?.tagName}}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mt30">
        <div class="row">
            <div class="col-xs-12">
                {{ 'DataProcessing.HostLabel' | translate }} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'DataProcessing.HostLabelTooltip' | translate}}</span></span>
            </div>
            <div class="col-xs-6 col-md-4">
                <ng-select [options]="defineListHosting" noFilter="10" [(ngModel)]="selectedHosting">
                </ng-select>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 mt30">
                {{ 'DataProcessing.ServiceLabel' | translate }} <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'DataProcessing.ServiceLabelTooltip' | translate}}</span></span>
            </div>
            <div class="col-xs-6 col-md-4">
                <ng-select [options]="defineListServiceProvider" noFilter="10" [(ngModel)]="selectedProvider">
                </ng-select>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 mt30">
                {{ 'DataProcessing.AddServiceLabel' | translate }}
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                            <label for="serviceProviderName" class="control-label">
                                {{ 'DataProcessing.AddServicePlaceHolder' | translate }}
                            </label>
                            <input maxlength="128" type="text" id="serviceProviderName" class="form-control" [(ngModel)]="customProvider">
                            <span class="pmd-textfield-focused"></span>
                        </div>   
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn mt20" (click)="addCustomProvider()" [ngClass]="{'btn-primary': customProvider, 'btn-default active': !customProvider}">{{ 'DataProcessing.CreateServiceBtn' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mt30">
                <h3><strong>{{ 'DataProcessing.ChooseAccessLabel' | translate }}</strong> <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'DataProcessing.ChooseAccessLabelTooltip' | translate}}</span></span></h3>
                <div class="row">
                    <div class="col-xs-6 col-md-4 list-process">
                        <strong>{{ 'DataProcessing.ChooseFromList' | translate }}</strong>
                        <ul class="list-group pmd-z-depth pmd-list pmd-card-list">
                            <div *ngFor="let item of listAccessMethods">
                                <li class="list-group-item" (click)="selectAccessMethod(item)" *ngIf="!item.marked">
                                    <div class="media-body media-middle">{{item.tagName}}</div>
                                    <i class="material-icons md-dark pmd-sm media-middle media-right">keyboard_arrow_right</i>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-4 col-md-offset-1 list-process">
                        <strong>{{ 'DataProcessing.SelecedAccessType' | translate }}</strong>
                        <ul class="list-group pmd-z-depth pmd-list pmd-card-list">
                            <div *ngFor="let access of selectedAccessMethods">
                                <li class="list-group-item" *ngIf="access[1] && !access[1].deleting" (click)="unSelectAccessMethod(access[1])">
                                    <div class="media-body media-middle">{{access[1]?.tagName}}</div>
                                    <i class="material-icons md-dark pmd-sm media-middle media-right">delete</i>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 mt10">
                        {{ 'DataProcessing.AddOwnAccessLabel' | translate }}
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="accessName" class="control-label">
                                        {{ 'DataProcessing.AddOwnAccessPlaceHolder' | translate }}
                                    </label>
                                    <input maxlength="128" type="text" id="accessName" class="form-control" [(ngModel)]="customAccessMethod">
                                    <span class="pmd-textfield-focused"></span>
                                </div>   
                            </div>
                            <div class="col-xs-4">
                                <button class="btn mt20" (click)="addCustomAccessMethod()" [ngClass]="{'btn-primary': customAccessMethod, 'btn-default active': !customAccessMethod}">{{ 'DataProcessing.CreateAccessBtn' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 mt30">
                <h3><strong>{{ 'DataProcessing.SecurityMeasuresLabel' | translate }}</strong> <span class="help-group__icon"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'DataProcessing.SecurityMeasuresLabelTooltip' | translate}}</span></span></h3>
                <div class="row">
                    <div class="col-xs-6 col-md-4 list-process">
                        <strong>{{ 'DataProcessing.ChooseFromList' | translate }}</strong>
                        <ul class="list-group pmd-z-depth pmd-list pmd-card-list">
                            <div *ngFor="let item of listSecurityMeasure">
                                <li class="list-group-item"  (click)="selectSecurityMeasure(item)" *ngIf="!item.marked">
                                    <div class="media-body media-middle">{{item.tagName}}</div>
                                    <i class="material-icons md-dark pmd-sm media-middle media-right">keyboard_arrow_right</i>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-4 col-md-offset-1 list-process">
                        <strong>{{ 'DataProcessing.SelectedSecurityTypes' | translate }}</strong>
                        <ul class="list-group pmd-z-depth pmd-list pmd-card-list">
                            <div *ngFor="let measure of selectedSecurityMeasure">
                                <li class="list-group-item" (click)="unSelectSecurityMeasure(measure[1])" *ngIf="measure[1] && !measure[1].deleting">
                                    <div class="media-body media-middle">{{measure[1].tagName}}</div>
                                    <i class="material-icons md-dark pmd-sm media-middle media-right">delete</i>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 mt10">
                        {{ 'DataProcessing.AddOwnSecurityLabel' | translate }}
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="securityMeasureName" class="control-label">
                                        {{ 'DataProcessing.AddOwnSecurityPlaceHolder' | translate }}
                                    </label>
                                    <input maxlength="128" type="text" id="securityMeasureName" class="form-control" [(ngModel)]="customSecurityMeasure">
                                    <span class="pmd-textfield-focused"></span>
                                </div>   
                            </div>
                            <div class="col-xs-4">
                                <button class="btn mt20" (click)="addCustomSecurityMeasure()" [ngClass]="{'btn-primary': customSecurityMeasure, 'btn-default active': !customSecurityMeasure}">{{ 'DataProcessing.AddOwnSecurityBtn' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt30">
            <div class="pmd-switch">
                <label>
                    <input id="isPrivacy" type="checkbox" [(ngModel)]="isPrivacyAgreed">
                    <span class="pmd-switch-label"></span>
                </label>
                <span class="help-group__icon help-group__icon-right"><i class="material-icons">help_outline</i><span class="help-group__help-text">{{ 'DataProcessing.QuestionDefaultTextTooltip' | translate}}</span></span> 
                <span class="pmd-switch__text">{{question?.questionDefaultText}}</span>
            </div>
        </div>
    </div>
    <div class="mt30">
        <button class="btn btn-primary btn-lg" (click)="save()">{{ 'DataProcessing.SaveBtn' | translate }}</button>
    </div>
</div>