<div class="container" *ngIf="isReady">
    <button class="btn-link no-padding" routerLink="/gdpr/management/risk">
        <i class="material-icons">arrow_back</i>
    </button>
    <div class="panel">
        <div class="panel-body">
            <h2>{{'Risk.ManagementTitle' | translate}}</h2>
            <form [formGroup]="riskManagementForm" (ngSubmit)="onSubmit(riskManagementForm.value)">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['riskName'].value,
                            'has-error': riskManagementForm.controls['riskName'].invalid && riskManagementForm.controls['riskName'].touched
                        }">
                            <label for="riskName" class="control-label">{{'Risk.RiskName' | translate}}</label>
                            <input class="form-control" id="riskName" type="text" name="riskName" [formControl]="riskManagementForm.controls['riskName']">
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-xs-6">

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['riskDescription'].value,
                            'has-error': riskManagementForm.controls['riskDescription'].invalid && riskManagementForm.controls['riskDescription'].touched
                        }">
                            <label for="riskName" class="control-label">{{'Risk.RiskDescription' | translate}}</label>
                            <textarea class="form-control" [formControl]="riskManagementForm.controls['riskDescription']" cols="30" rows="10"></textarea>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['riskLegel'].value,
                            'has-error': riskManagementForm.controls['riskLegel'].invalid && riskManagementForm.controls['riskLegel'].touched
                        }">
                            <label for="riskName" class="control-label">{{'Risk.LegelReference' | translate}}</label>
                            <textarea class="form-control" [formControl]="riskManagementForm.controls['riskLegel']" cols="30" rows="10"></textarea>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-3">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['riskOwnerId'].value,
                            'has-error': riskManagementForm.controls['riskOwnerId'].invalid && riskManagementForm.controls['riskOwnerId'].touched
                        }">
                            <label class="control-label">
                                {{'Risk.RiskOwner' | translate}}
                            </label>
                            <ng-select [formControl]="riskManagementForm.controls['riskOwnerId']" [options]="defineRiskOwner" noFilter="10">
                            </ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['riskResponsibleId'].value,
                            'has-error': riskManagementForm.controls['riskResponsibleId'].invalid && riskManagementForm.controls['riskResponsibleId'].touched
                        }">
                            <label class="control-label">
                                {{'Risk.RiskResponsible' | translate}}
                            </label>
                            <ng-select [formControl]="riskManagementForm.controls['riskResponsibleId']" [options]="defineRiskOwner" noFilter="10">
                            </ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['riskType'].value,
                            'has-error': riskManagementForm.controls['riskType'].invalid && riskManagementForm.controls['riskType'].touched
                        }">
                            <label class="control-label">
                                {{'Risk.RiskType' | translate}}
                            </label>
                            <ng-select [formControl]="riskManagementForm.controls['riskType']" [options]="listRiskTypeOptions" noFilter="10">
                            </ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group pmd-textfield pmd-textfield-floating-label" [ngClass]="{'
                            pmd-textfield-floating-label-completed': riskManagementForm.controls['organizationLevel'].value,
                            'has-error': riskManagementForm.controls['organizationLevel'].invalid && riskManagementForm.controls['organizationLevel'].touched
                        }">
                            <label class="control-label">
                                {{'Risk.OrganizatationLevel' | translate}}
                            </label>
                            <ng-select [formControl]="riskManagementForm.controls['organizationLevel']" [options]="listRiskOrganizationOptions" noFilter="10">
                            </ng-select>
                            <span class="pmd-textfield-focused"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3>{{'Risk.RiskAssessment' | translate}}</h3>
                        <table>
                            <tr>
                                <td style="vertical-align: bottom;">
                                    <img src="assets/images/risk-impact.png" alt="">
                                </td>
                                <td>
                                    <table class="assessment">
                                        <tr *ngFor="let row of assessment">
                                            <td *ngFor="let cell of row.cols">
                                                <div class="assessment-item" (click)="clickRiskAssessment(row.row, cell.id)" [ngClass]="{
                                                                                                                                    'yellow': cell.color == 'yellow',
                                                                                                                                    'green': cell.color == 'green',
                                                                                                                                    'red': cell.color == 'red',
                                                                                                                                    'active': cell.active
                                                                                                                                }">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <img src="assets/images/risk-likehood.png" alt="">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-6" *ngIf="!isAddNew">
                        <h3>{{'Risk.AssociatedTask' | translate}}</h3>
                        <div class="risk-item__task-area">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="risk-item__task-header">
                                        <div class="sub">{{riskDetailData.taskNonSchedule}}/{{riskDetailData.assosciatedTask.length}}</div>
                                        <strong>{{ 'Risk.NonScheduleTask' | translate }}</strong>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="risk-item__task-header">
                                        <div class="sub">{{riskDetailData.assosciatedTask.length - riskDetailData.taskNonSchedule}}/{{riskDetailData.assosciatedTask.length}}</div>
                                        <strong>{{ 'Risk.ScheduleTask' | translate }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-eq-height">
                                <div class="col-xs-6">
                                    <div class="dark-area">
                                        <div *ngFor="let task of riskDetailData.assosciatedTask">
                                            <div *ngIf="task.taskStatus == 1" class="small-task-item">
                                                <div class="small-task-item__inner">
                                                    <div class="small-task-item__name">
                                                        <i class="material-icons">view_list</i>
                                                        <strong>{{task.processName}}:</strong> {{task.taskName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dark-area">
                                        <div *ngFor="let task of riskDetailData.assosciatedTask">
                                            <div *ngIf="task.taskStatus != 1" class="small-task-item">
                                                <div class="small-task-item__inner">
                                                    <div class="small-task-item__name">
                                                        <i class="material-icons">view_list</i>
                                                        <strong>{{task.processName}}:</strong> {{task.taskName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt20"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="pmd-switch">
                            <label>
                                <input type="checkbox" [formControl]="riskManagementForm.controls['isPublished']">
                                <span class="pmd-switch-label"></span>
                            </label>
                            <span class="pmd-switch__text">{{'Risk.isPublicLabel' | translate}}</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="text-right">
                            <a class="btn btn-link" routerLink="/gdpr/management/risk">{{'Risk.Cancel' | translate}}</a>
                            <button class="btn btn-primary" type="submit">{{'Risk.SaveAndContinue' | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>